## Amazon Bedrock Router Evaluation

In this notebook we built and evaluate a finetuned-LLM router for a Text-to-SQL use case.

This demonstrates a simple application using public Northwind with Amazon Titan Embeddings, Amazon Bedrock and Streamlit for the front-end.

The example receives a user’s prompt, generates a SQL query using in-memory vector database and few-shot examples. We then run the query using SQLite database and display query results in the user interface.

For simplicity, we use the in-memory Chroma database to store and search for embeddings vectors. In a real-world scenario at scale, you will likely want to use a persistent data store like the vector engine for Amazon OpenSearch Serverless or the pgvector extension for PostgreSQL.

In [ ]:
# 1. Create a conda environment

# !conda create -y --name bedrock-router-eval python=3.11.8
# !conda init && activate bedrock-router-eval
# !conda install -n bedrock-router-eval ipykernel --update-deps --force-reinstall -y
# !conda install -c conda-forge ipython-sql

In [3]:
# 2. Install dependencies

# !pip install -r requirements.txt

Requirement already satisfied: boto3 in /home/sagemaker-user/.conda/envs/bedrock-router-eval/lib/python3.11/site-packages (from -r requirements.txt (line 1)) (1.34.162)
Requirement already satisfied: scipy in /home/sagemaker-user/.conda/envs/bedrock-router-eval/lib/python3.11/site-packages (from -r requirements.txt (line 2)) (1.14.0)
Requirement already satisfied: numpy in /home/sagemaker-user/.conda/envs/bedrock-router-eval/lib/python3.11/site-packages (from -r requirements.txt (line 3)) (2.0.1)
Requirement already satisfied: python-dotenv in /home/sagemaker-user/.conda/envs/bedrock-router-eval/lib/python3.11/site-packages (from -r requirements.txt (line 4)) (1.0.1)
Collecting importlib_resources==6.4.0 (from -r requirements.txt (line 5))
  Downloading importlib_resources-6.4.0-py3-none-any.whl.metadata (3.9 kB)
Collecting datasets==2.20.0 (from -r requirements.txt (line 6))
  Downloading datasets-2.20.0-py3-none-any.whl.metadata (19 kB)
Collecting filelock (from datasets==2.20.0->-r requirements.txt (line 6))
  Using cached filelock-3.15.4-py3-none-any.whl.metadata (2.9 kB)
Collecting pyarrow>=15.0.0 (from datasets==2.20.0->-r requirements.txt (line 6))
  Downloading pyarrow-17.0.0-cp311-cp311-manylinux_2_28_x86_64.whl.metadata (3.3 kB)
Collecting pyarrow-hotfix (from datasets==2.20.0->-r requirements.txt (line 6))
  Using cached pyarrow_hotfix-0.6-py3-none-any.whl.metadata (3.6 kB)
Collecting dill<0.3.9,>=0.3.0 (from datasets==2.20.0->-r requirements.txt (line 6))
  Using cached dill-0.3.8-py3-none-any.whl.metadata (10 kB)
Collecting pandas (from datasets==2.20.0->-r requirements.txt (line 6))
  Using cached pandas-2.2.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (19 kB)
Collecting requests>=2.32.2 (from datasets==2.20.0->-r requirements.txt (line 6))
  Using cached requests-2.32.3-py3-none-any.whl.metadata (4.6 kB)
Collecting tqdm>=4.66.3 (from datasets==2.20.0->-r requirements.txt (line 6))
  Downloading tqdm-4.66.5-py3-none-any.whl.metadata (57 kB)
Collecting xxhash (from datasets==2.20.0->-r requirements.txt (line 6))
  Using cached xxhash-3.4.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (12 kB)
Collecting multiprocess (from datasets==2.20.0->-r requirements.txt (line 6))
  Using cached multiprocess-0.70.16-py311-none-any.whl.metadata (7.2 kB)
Collecting fsspec<=2024.5.0,>=2023.1.0 (from fsspec[http]<=2024.5.0,>=2023.1.0->datasets==2.20.0->-r requirements.txt (line 6))
  Downloading fsspec-2024.5.0-py3-none-any.whl.metadata (11 kB)
Collecting aiohttp (from datasets==2.20.0->-r requirements.txt (line 6))
  Downloading aiohttp-3.10.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (7.5 kB)
Collecting huggingface-hub>=0.21.2 (from datasets==2.20.0->-r requirements.txt (line 6))
  Downloading huggingface_hub-0.24.5-py3-none-any.whl.metadata (13 kB)
Requirement already satisfied: packaging in /home/sagemaker-user/.conda/envs/bedrock-router-eval/lib/python3.11/site-packages (from datasets==2.20.0->-r requirements.txt (line 6)) (24.1)
Collecting pyyaml>=5.1 (from datasets==2.20.0->-r requirements.txt (line 6))
  Downloading PyYAML-6.0.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (2.1 kB)
Requirement already satisfied: botocore<1.35.0,>=1.34.162 in /home/sagemaker-user/.conda/envs/bedrock-router-eval/lib/python3.11/site-packages (from boto3->-r requirements.txt (line 1)) (1.34.162)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /home/sagemaker-user/.conda/envs/bedrock-router-eval/lib/python3.11/site-packages (from boto3->-r requirements.txt (line 1)) (1.0.1)
Requirement already satisfied: s3transfer<0.11.0,>=0.10.0 in /home/sagemaker-user/.conda/envs/bedrock-router-eval/lib/python3.11/site-packages (from boto3->-r requirements.txt (line 1)) (0.10.2)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /home/sagemaker-user/.conda/envs/bedrock-router-eval/lib/python3.11/site-packages (from botocore<1.35.0,>=1.34.162->boto3->-r requirements.txt (line 1)) (2.9.0.post0)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in /home/sagemaker-user/.conda/envs/bedrock-router-eval/lib/python3.11/site-packages (from botocore<1.35.0,>=1.34.162->boto3->-r requirements.txt (line 1)) (2.2.2)
Collecting aiohappyeyeballs>=2.3.0 (from aiohttp->datasets==2.20.0->-r requirements.txt (line 6))
  Downloading aiohappyeyeballs-2.3.6-py3-none-any.whl.metadata (5.8 kB)
Collecting aiosignal>=1.1.2 (from aiohttp->datasets==2.20.0->-r requirements.txt (line 6))
  Using cached aiosignal-1.3.1-py3-none-any.whl.metadata (4.0 kB)
Collecting attrs>=17.3.0 (from aiohttp->datasets==2.20.0->-r requirements.txt (line 6))
  Downloading attrs-24.2.0-py3-none-any.whl.metadata (11 kB)
Collecting frozenlist>=1.1.1 (from aiohttp->datasets==2.20.0->-r requirements.txt (line 6))
  Using cached frozenlist-1.4.1-cp311-cp311-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (12 kB)
Collecting multidict<7.0,>=4.5 (from aiohttp->datasets==2.20.0->-r requirements.txt (line 6))
  Using cached multidict-6.0.5-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (4.2 kB)
Collecting yarl<2.0,>=1.0 (from aiohttp->datasets==2.20.0->-r requirements.txt (line 6))
  Using cached yarl-1.9.4-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (31 kB)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /home/sagemaker-user/.conda/envs/bedrock-router-eval/lib/python3.11/site-packages (from huggingface-hub>=0.21.2->datasets==2.20.0->-r requirements.txt (line 6)) (4.11.0)
Collecting charset-normalizer<4,>=2 (from requests>=2.32.2->datasets==2.20.0->-r requirements.txt (line 6))
  Using cached charset_normalizer-3.3.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (33 kB)
Collecting idna<4,>=2.5 (from requests>=2.32.2->datasets==2.20.0->-r requirements.txt (line 6))
  Using cached idna-3.7-py3-none-any.whl.metadata (9.9 kB)
Collecting certifi>=2017.4.17 (from requests>=2.32.2->datasets==2.20.0->-r requirements.txt (line 6))
  Using cached certifi-2024.7.4-py3-none-any.whl.metadata (2.2 kB)
Collecting pytz>=2020.1 (from pandas->datasets==2.20.0->-r requirements.txt (line 6))
  Using cached pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas->datasets==2.20.0->-r requirements.txt (line 6))
  Using cached tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /home/sagemaker-user/.conda/envs/bedrock-router-eval/lib/python3.11/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.35.0,>=1.34.162->boto3->-r requirements.txt (line 1)) (1.16.0)
Downloading importlib_resources-6.4.0-py3-none-any.whl (38 kB)
Downloading datasets-2.20.0-py3-none-any.whl (547 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 547.8/547.8 kB 34.1 MB/s eta 0:00:00
Using cached dill-0.3.8-py3-none-any.whl (116 kB)
Downloading fsspec-2024.5.0-py3-none-any.whl (316 kB)
Downloading aiohttp-3.10.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.3/1.3 MB 79.1 MB/s eta 0:00:00
Downloading huggingface_hub-0.24.5-py3-none-any.whl (417 kB)
Downloading pyarrow-17.0.0-cp311-cp311-manylinux_2_28_x86_64.whl (39.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 39.9/39.9 MB 123.7 MB/s eta 0:00:0000:01
Downloading PyYAML-6.0.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (762 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 763.0/763.0 kB 51.8 MB/s eta 0:00:00
Using cached requests-2.32.3-py3-none-any.whl (64 kB)
Downloading tqdm-4.66.5-py3-none-any.whl (78 kB)
Using cached filelock-3.15.4-py3-none-any.whl (16 kB)
Using cached multiprocess-0.70.16-py311-none-any.whl (143 kB)
Using cached pandas-2.2.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.0 MB)
Using cached pyarrow_hotfix-0.6-py3-none-any.whl (7.9 kB)
Using cached xxhash-3.4.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (194 kB)
Downloading aiohappyeyeballs-2.3.6-py3-none-any.whl (12 kB)
Using cached aiosignal-1.3.1-py3-none-any.whl (7.6 kB)
Downloading attrs-24.2.0-py3-none-any.whl (63 kB)
Using cached certifi-2024.7.4-py3-none-any.whl (162 kB)
Using cached charset_normalizer-3.3.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (140 kB)
Using cached frozenlist-1.4.1-cp311-cp311-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (272 kB)
Using cached idna-3.7-py3-none-any.whl (66 kB)
Using cached multidict-6.0.5-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (128 kB)
Using cached pytz-2024.1-py2.py3-none-any.whl (505 kB)
Using cached tzdata-2024.1-py2.py3-none-any.whl (345 kB)
Using cached yarl-1.9.4-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (328 kB)
Installing collected packages: pytz, xxhash, tzdata, tqdm, pyyaml, pyarrow-hotfix, pyarrow, multidict, importlib_resources, idna, fsspec, frozenlist, filelock, dill, charset-normalizer, certifi, attrs, aiohappyeyeballs, yarl, requests, pandas, multiprocess, aiosignal, huggingface-hub, aiohttp, datasets
Successfully installed aiohappyeyeballs-2.3.6 aiohttp-3.10.3 aiosignal-1.3.1 attrs-24.2.0 certifi-2024.7.4 charset-normalizer-3.3.2 datasets-2.20.0 dill-0.3.8 filelock-3.15.4 frozenlist-1.4.1 fsspec-2024.5.0 huggingface-hub-0.24.5 idna-3.7 importlib_resources-6.4.0 multidict-6.0.5 multiprocess-0.70.16 pandas-2.2.2 pyarrow-17.0.0 pyarrow-hotfix-0.6 pytz-2024.1 pyyaml-6.0.2 requests-2.32.3 tqdm-4.66.5 tzdata-2024.1 xxhash-3.4.1 yarl-1.9.4

In [3]:
# 3. Import necessary libraries and load environment variables
import numpy as np
from scipy.spatial.distance import cdist
import json
from dotenv import load_dotenv, find_dotenv
import os
import boto3
import sqlite3
from pandas.io import sql
from botocore.config import Config

# loading environment variables that are stored in local file
local_env_filename = 'bedrock-router-eval.env'
load_dotenv(find_dotenv(local_env_filename),override=True)

os.environ['REGION'] = os.getenv('REGION')
os.environ['HF_TOKEN'] = os.getenv('HF_TOKEN')
REGION = os.environ['REGION']
HF_TOKEN = os.environ['HF_TOKEN']

# Initialize Bedrock runtime
config = Config(
   retries = {
      'max_attempts': 10,
      'mode': 'standard'
   }
)
bedrock_runtime_client = boto3.client(
        service_name="bedrock-runtime",
        config=config,
        region_name=REGION)

bedrock_client = boto3.client(service_name='bedrock', region_name=REGION)
athena_client = boto3.client('athena')
glue_client = boto3.client('glue')
s3_client = boto3.client('s3')

model_id = "anthropic.claude-3-haiku-20240307-v1:0" # "anthropic.claude-3-5-sonnet-20240620-v1:0" "meta.llama3-1-70b-instruct-v1:0"

SQL_DATABASE = 'LOCAL' #GLUE
SQL_DIALECT = 'SQlite' #awsathena

# %load_ext sql

In [107]:
# TO DO: 
# review  https://bird-bench.github.io/ or latest spyder dataset or any SQL dataset from HF

# https://huggingface.co/datasets/b-mc2/sql-create-context

# from datasets import load_dataset
# # %sql sqlite:///routedb.db
# # to load SQL dataset from starcoder
## ds = load_dataset("bigcode/starcoderdata", data_dir="sql", split="train", token=True)
# ds = load_dataset("b-mc2/sql-create-context", split="train", token=True)
# from datasets import load_dataset_builder
# ds_builder = load_dataset_builder("b-mc2/sql-create-context")
# ds_builder.info.description
# ds_builder.info.features

In [26]:
# 4. Define Helper functions

import boto3
import pandas as pd
import io
import json
from io import StringIO

def dataframe_to_s3_jsonl(df, bucket_name, prefix, filename):
    """
    Convert a pandas DataFrame to JSONL format and upload it to S3.

    Parameters:
    df (pandas.DataFrame): The DataFrame to be converted and uploaded.
    bucket_name (str): The name of the S3 bucket.
    prefix (str): The S3 prefix (folder path) where the file will be uploaded.
    filename (str): The name of the file to be created in S3.

    Returns:
    str: The S3 URI of the uploaded file.
    """
    # Convert DataFrame to JSONL
    jsonl_buffer = StringIO()
    for _, row in df.iterrows():
        json.dump(row.to_dict(), jsonl_buffer)
        jsonl_buffer.write('\n')
    jsonl_buffer.seek(0)

    # Upload the JSONL data to S3
    s3_key = f"{prefix.rstrip('/')}/{filename}"
    s3_client.put_object(
        Bucket=bucket_name,
        Key=s3_key,
        Body=jsonl_buffer.getvalue(),
        ContentType='application/json'
    )

    # Return the S3 URI of the uploaded file
    return f"s3://{bucket_name}/{s3_key}"


def download_and_parse_jsonl(bucket_name, object_key):
    """
    Downloads a JSONL file from an Amazon S3 bucket and parses it into a pandas DataFrame.

    Args:
        bucket_name (str): The name of the S3 bucket where the JSONL file is stored.
        object_key (str): The key (path) of the JSONL file in the S3 bucket.

    Returns:
        pandas.DataFrame: A DataFrame containing the data from the JSONL file.
    """
    

    # Download the JSONL file from S3
    response = s3_client.get_object(Bucket=bucket_name, Key=object_key)
    jsonl_data = response['Body'].read().decode('utf-8')

    # Parse the JSONL data into a list of dictionaries
    data = [json.loads(line) for line in jsonl_data.strip().split('\n')]

    # Create a DataFrame from the list of dictionaries
    df = pd.DataFrame(data)

    return df

def check_job_status_and_wait(job_arn):
    # # check status
    # bedrock.get_model_invocation_job(jobIdentifier=jobArn)['status']

    # # list batch jobs
    # bedrock.list_model_invocation_jobs(
    #     maxResults=10,
    #     statusEquals="Failed",
    #     sortOrder="Descending"
    # )

    while True:
        job_status = bedrock_client.get_model_invocation_job(jobIdentifier=job_arn)['status']
        print(f"Job status: {job_status}")

        if job_status == 'COMPLETED':
            output_s3_uri = bedrock_client.get_model_invocation_job(jobIdentifier=job_arn)['outputDataConfig']['s3OutputDataConfig']['s3Uri']
            output_file_key = output_s3_uri.replace(f"s3://{output_bucket}/{output_prefix}", "")
            output_file_name = output_file_key.split("/")[-1]
            break
        elif job_status == 'FAILED':
            print("Job failed.")
            break
        else:
            time.sleep(60)  # Wait for 1 minute before checking again
    
    return output_s3_uri

def get_schema(database_name, table_names=None):
    try:
        
        table_schema_list = []
        response = glue_client.get_tables(DatabaseName=database_name)

        all_table_names = [table['Name'] for table in response['TableList']]

        if table_names:
            table_names = [name for name in table_names if name in all_table_names]
        else:
            table_names = all_table_names

        for table_name in table_names:
            response = glue_client.get_table(DatabaseName=database_name, Name=table_name)
            columns = response['Table']['StorageDescriptor']['Columns']
            schema = {column['Name']: column['Type'] for column in columns}
            table_schema_list.append({"Table: {}".format(table_name): 'Schema: {}'.format(schema)})
    except Exception as e:
        print(f"Error: {str(e)}")
    return table_schema_list

def execute_athena_query(database, query):
    # Start query execution
    response = athena_client.start_query_execution(
        QueryString=query,
        QueryExecutionContext={
            'Database': database
        },
        ResultConfiguration={
            'OutputLocation': outputLocation
        }
    )

    # Get query execution ID
    query_execution_id = response['QueryExecutionId']
    print(f"Query Execution ID: {query_execution_id}")

    # Wait for the query to complete
    response_wait = athena_client.get_query_execution(QueryExecutionId=query_execution_id)

    while response_wait['QueryExecution']['Status']['State'] in ['QUEUED', 'RUNNING']:
        print("Query is still running...")
        response_wait = athena_client.get_query_execution(QueryExecutionId=query_execution_id)

    print(f'response_wait {response_wait}')

    # Check if the query completed successfully
    if response_wait['QueryExecution']['Status']['State'] == 'SUCCEEDED':
        print("Query succeeded!")

        # Get query results
        query_results = athena_client.get_query_results(QueryExecutionId=query_execution_id)

        # Extract and return the result data
        code = 'SUCCEEDED'
        return code, extract_result_data(query_results)

    else:
        print("Query failed!")
        code = response_wait['QueryExecution']['Status']['State']
        message = response_wait['QueryExecution']['Status']['StateChangeReason']
    
        return code, message

def extract_result_data(query_results):
    #Return a cleaned response to the agent
    result_data = []

    # Extract column names
    column_info = query_results['ResultSet']['ResultSetMetadata']['ColumnInfo']
    column_names = [column['Name'] for column in column_info]

    # Extract data rows
    for row in query_results['ResultSet']['Rows']:
        data = [item['VarCharValue'] for item in row['Data']]
        result_data.append(dict(zip(column_names, data)))

    return result_data

# sql_dialect = awsathena or SQLite
def build_sqlquerygen_prompt(user_question: str, sql_database_schema: str):
    prompt = """You will be provided with the original user question and a SQL database schema. 
                Only return the SQL query and nothing else.
                Here is the original user question.
                <user_question>
                {user_question}
                </user_question>

                Here is the SQL database schema.
                <sql_database_schema>
                {sql_database_schema}
                </sql_database_schema>
                
                Instructions:
                Generate a SQL query that answers the original user question.
                Use the schema, first create a syntactically correct {sql_dialect} query to answer the question. 
                Never query for all the columns from a specific table, only ask for a few relevant columns given the question.
                Pay attention to use only the column names that you can see in the schema description. 
                Be careful to not query for columns that do not exist. 
                Pay attention to which column is in which table. 
                Also, qualify column names with the table name when needed.
                If you cannot answer the user question with the help of the provided SQL database schema, 
                then output that this question question cannot be answered based of the information stored in the database.
                You are required to use the following format, each taking one line:
                Return the sql query inside the <SQL></SQL> tab.
                """.format(
                    user_question=user_question,
                    sql_database_schema=sql_database_schema,
                    sql_dialect=SQL_DIALECT
                ) 
    return prompt

# grading rubric
RUBRIC = '''
- **5**:The generated SQL matches the reference SQL query.
- **4**:The generated SQL is valid, and produces a result without any errors, and is performant.
- **3**:The generated SQL is valid, and produce a result without any errors.
- **2**:The generated SQL is valid, but produces one or more errors.
- **1**:The generated SQL is invalid.
'''

def build_prediction_prompt(user_question: str, sql_database_schema: str):
    prompt = """You will be provided with the original user question and a SQL database schema. 
                Based on the question provided below, predict the score an expert evaluator would give to an AI assistant's response, 
                considering its helpfulness, relevance, adherence to facts, depth, creativity, and detail. 
                
                Here is the original user question.
                <user_question>
                {user_question}
                </user_question>

                Here is the SQL database schema.
                <sql_database_schema>
                {sql_database_schema}
                </sql_database_schema>
                
                Instructions:
                Your prediction should infer the level of proficiency needed to address the question effectively. 
                Use a scale from 1 to 5, where a higher score indicates a higher anticipated quality of response. 
                
                Score criteria:
                <rubric>
                {rubric}
                </rubric>

                Provide your prediction inside <score></score> tags.
                """.format(
                    user_question=user_question,
                    sql_database_schema=sql_database_schema,
                    rubric=RUBRIC,
                    sql_dialect=SQL_DIALECT
                ) 
    return prompt


def build_grader_prompt(original_instruction: str, sql_query: str):
    prompt = """You will be provided with the original user prompt, context, and generated SQL query, which is trying to answer the initial user prompt,
                and a rubric that instructs you on what makes this SQL query correct or incorrect.

    Here is the original instruction for the SQL query.
    <original_instruction>
    {original_instruction}
    </original_instruction>

    Here is the generated SQL query based on these instructions.
    <sql_query>
    {sql_query}
    </sql_query>
    
    Here is the rubric on how to grade the generated notification.
    <rubric>
    {rubric}
    </rubric>
    
    An answer is correct if it entirely meets the rubric criteria, and is otherwise incorrect.
    First, think through whether the answer is correct or incorrect based on the rubric inside <thinking></thinking> tags. 
    Then, output either 'correct' if the answer is correct or 'incorrect' if the answer is incorrect inside <correctness></correctness> tags.
    Use a scale from 1 to 5, where a higher score indicates a higher anticipated quality of response, provide the score inside <score></score> tags.
   
    """.format(
        sql_query=sql_query,
        rubric=RUBRIC,
        original_instruction=original_instruction
    ) 
    return prompt


# Helper class for async calls to Amazon Bedrock

import typing as t
import time
from queue import Queue
from threading import Thread
import boto3

class BedrockLLMWrapper():
    def __init__(self,
        model_id: str = 'anthropic.claude-3-haiku-20240307-v1:0', #'anthropic.claude-3-sonnet-20240229-v1:0',
        top_k: int = 5,
        top_p: int = 0.7,
        temperature: float = 0.0,
        max_token_count: int = 4000,
        anthropic_version: str = "bedrock-2023-05-31" if "anthropic" in model_id.lower() else "",
        max_attempts: int = 3,
        debug: bool = False

    ):

        self.model_id = model_id
        self.top_k = top_k
        self.top_p = top_p
        self.temperature = temperature
        self.max_token_count = max_token_count
        self.anthropic_version = anthropic_version
        self.max_attempts = max_attempts
        self.debug = debug
        self.bedrock_runtime = boto3.client(service_name="bedrock-runtime", config=config, region_name=REGION)
        
    def generate(self,prompt):
        if self.debug: 
            print('entered BedrockLLMWrapper generate')
        attempt = 1
        query_time = -1
        usage = (-1,-1)
        start_time = time.time()

        messages = prompt

        system = ''

        #if the messages are just a string, convert to the Messages API format.
        if type(messages)==str:
            messages = [{"role": "user", "content": messages}]
        
        #build the JSON to send to Bedrock
        if "anthropic" in self.model_id.lower():
            prompt_json = {
                "system":system,
                "messages": messages,
                "max_tokens": self.max_token_count, # 4096 is a hard limit to output length in Claude 3
                "temperature": self.temperature, #creativity on a scale from 0-1.
                "anthropic_version":self.anthropic_version,
                "top_k": self.top_k,
                "top_p": self.top_p,
                "stop_sequences": ["\n\nHuman:"]
            }
        else:
            
            prompt_json = {
                "prompt": prompt,
                "max_tokens": self.max_token_count,
                "temperature": 0,
            }

        if self.debug: 
            print("Sending:\nSystem:\n",system,"\nMessages:\n",str(messages))

        while True:
            try:
                response = self.bedrock_runtime.invoke_model(body=json.dumps(prompt_json), modelId=self.model_id, accept='application/json', contentType='application/json')
                response_body = json.loads(response.get('body').read())
                if "anthropic" in self.model_id.lower():
                    result_text = response_body.get("content")[0].get("text")
                else:
                    result_text = response_body.get("outputs")[0].get("text")
                    
                usage = response_body.get("usage")
                query_time = round(time.time()-start_time,2)
                if self.debug:
                    print("Retrieved:",result_text)
                
                break
                
            except Exception as e:
                print("Error with calling Bedrock: "+str(e))
                attempt+=1
                if attempt>self.max_attempts:
                    print("Max attempts reached!")
                    result_text = str(e)
                    break
                else:#retry in 10 seconds
                    print("retry")
                    time.sleep(10)
        if self.debug: 
            print(f'usage: {usage} and query_time: {query_time}')

        # return result_text
        return [result_text,usage,query_time]

    # Threaded function for queue processing.
    def thread_request(self, q, result):
        while not q.empty():
            work = q.get()    #fetch new work from the Queue
            try:
                data = self.generate(work[1])
                result[work[0]] = data  #Store data back at correct index
            except Exception as e:
                print('Error with prompt!',str(e))
                result[work[0]] = (str(e))
            #signal to the queue that task has been processed
            q.task_done()
        return True

    def generate_threaded(self,prompts):
        '''
        Call multi-threaded.
        Returns a dict of the prompts and responses.
        '''
        system=""
        ignore_cache=False
        q = Queue(maxsize=0)
        num_theads = min(50, len(prompts))
        #Populating Queue with tasks
        results = [{} for x in prompts];
        #load up the queue with the promts to fetch and the index for each job (as a tuple):
        for i in range(len(prompts)):
            #need the index and the url in each queue item.
            q.put((i,prompts[i]))
            
        #Starting worker threads on queue processing
        for i in range(num_theads):
            if self.debug:
                print('Starting thread ', i)
            worker = Thread(target=self.thread_request, args=(q,results))
            worker.daemon = True
            worker.start()

        #now we wait until the queue has been processed
        q.join()
        return results
    
    def calculate_cost(self, usage, model_id):
        '''
        Takes the usage tokens returned by Bedrock in input and output, and coverts to cost in dollars.
        '''
        
        input_token_haiku = 0.25/1000000
        output_token_haiku = 1.25/1000000
        input_token_sonnet = 3.00/1000000
        output_token_sonnet = 15.00/1000000
        input_token_opus = 15.00/1000000
        output_token_opus = 75.00/1000000
        
        input_token_titan_embeddingv1 = 0.1/1000000
        input_token_titan_embeddingv2 = 0.02/1000000
        input_token_titan_embeddingmultimodal = 0.8/1000000
        input_token_titan_premier = 0.5/1000000
        output_token_titan_premier = 1.5/1000000
        input_token_titan_lite = 0.15/1000000
        output_token_titan_lite = 0.2/1000000
        input_token_titan_express = 0.2/1000000
        output_token_titan_express = 0.6/1000000
       
        input_token_cohere_command = 0.15/1000000
        output_token_cohere_command = 2/1000000
        input_token_cohere_commandlight = 0.3/1000000
        output_token_cohere_commandlight = 0.6/1000000
        input_token_cohere_commandrplus = 3/1000000
        output_token_cohere_commandrplus = 15/1000000
        input_token_cohere_commandr = 5/1000000
        output_token_cohere_commandr = 1.5/1000000
        input_token_cohere_embedenglish = 0.1/1000000
        input_token_cohere_embedmultilang = 0.1/1000000

        input_token_llama3_8b = 0.4/1000000
        output_token_llama3_8b = 0.6/1000000
        input_token_llama3_70b = 2.6/1000000
        output_token_llama3_70b = 3.5/1000000

        cost = 0

        if 'haiku' in model_id:
            cost+= usage['input_tokens']*input_token_haiku
            cost+= usage['output_tokens']*output_token_haiku
        if 'sonnet' in model_id:
            cost+= usage['input_tokens']*input_token_sonnet
            cost+= usage['output_tokens']*output_token_sonnet
        if 'opus' in model_id:
            cost+= usage['input_tokens']*input_token_opus
            cost+= usage['output_tokens']*output_token_opus
        if 'amazon.titan-embed-text-v1' in model_id:
            cost+= usage['input_tokens']*input_token_titan_embeddingv1
        if 'amazon.titan-embed-text-v2' in model_id:
            cost+= usage['input_tokens']*input_token_titan_embeddingv2
        if 'cohere.embed-multilingual' in model_id:
            cost+= usage['input_tokens']*input_token_cohere_embedmultilang
        if 'cohere.embed-english' in model_id:
            cost+= usage['input_tokens']*input_token_cohere_embedenglish 
        if 'meta.llama3-8b-instruct' in model_id:
            cost+= usage['input_tokens']*input_token_llama3_8b
            cost+= usage['output_tokens']*output_token_llama3_8b
        if 'meta.llama3-70b-instruct' in model_id:
            cost+= usage['input_tokens']*input_token_llama3_70b
            cost+= usage['output_tokens']*output_token_llama3_70b
        if 'cohere.command-text' in model_id:
            cost+= usage['input_tokens']*input_token_cohere_command
            cost+= usage['output_tokens']*output_token_cohere_command
        if 'cohere.command-light-text' in model_id:
            cost+= usage['input_tokens']*input_token_cohere_commandlight
            cost+= usage['output_tokens']*output_token_cohere_commandlight
        if 'cohere.command-r-plus' in model_id:
            cost+= usage['input_tokens']*input_token_cohere_commandrplus
            cost+= usage['output_tokens']*output_token_cohere_commandrplus
        if 'cohere.command-r' in model_id:
            cost+= usage['input_tokens']*input_token_cohere_commandr
            cost+= usage['output_tokens']*output_token_cohere_commandr
        if 'amazon.titan-text-express' in model_id:
            cost+= usage['input_tokens']*input_token_titan_express
            cost+= usage['output_tokens']*output_token_titan_express
        if 'amazon.titan-text-lite' in model_id:
            cost+= usage['input_tokens']*input_token_titan_lite
            cost+= usage['output_tokens']*output_token_titan_lite
        if 'amazon.titan-text-premier' in model_id:
            cost+= usage['input_tokens']*input_token_titan_premier
            cost+= usage['output_tokens']*output_token_titan_premier

        return cost

def runBedrockBatchJob(modelid,df):
    BEDROCK_BATCH_API = False
    if BEDROCK_BATCH_API == True:
        ## WIP
        # upload df_results dataframe as jsonl to S3
        prefix = 'routeeval/input'
        filename = 'small_llm.jsonl'
        bucket_name = 'felixh-demo'

        s3_uri = dataframe_to_s3_jsonl(df_results, bucket_name, prefix, filename)
        print(f"File uploaded to: {s3_uri}")

        # generate SQL queries with Bedrock Batch API if filesize is >25mb otherwise use helper class for threaded calls

        input_bucket = bucket_name
        input_prefix = "input/"
        output_bucket = bucket_name
        output_prefix = "output/mistral8binstruct"
        BATCH_ROLE_ARN = 'arn:aws:iam::026459568683:role/admin'

        inputDataConfig=({
            "s3InputDataConfig": {
                "s3Uri": f"s3://{input_bucket}/{input_prefix}"
            }
        })

        outputDataConfig=({
            "s3OutputDataConfig": {
                "s3Uri": f"s3://{output_bucket}/{output_prefix}"
            }
        })

        batch_response=bedrock_client.create_model_invocation_job(
            roleArn=BATCH_ROLE_ARN,
            modelId=modelid,
            jobName="small-llm-genSQL-job",
            inputDataConfig=inputDataConfig,
            outputDataConfig=outputDataConfig
        )

        jobArn = batch_response.get('jobArn')


        # wait for batch job to complete
        output_s3_uri = check_job_status_and_wait(job_arn)
        print(output_s3_uri)
        output_file_name = output_s3_uri.split("/")[-1]
        print(output_file_name)

        # download results from S3 into dataframe
        df = download_and_parse_jsonl(bucket_name, object_key)

    else:
        # use helper class for threaded API calls
        wrapper = BedrockLLMWrapper(debug=False, model_id=modelid)

        prompts_list = []
        for row in df.itertuples():
            prompt = build_sqlquerygen_prompt(row.Question, row.Context)
            prompts_list.append(prompt)
        # [result_text,usage,query_time]
        results = wrapper.generate_threaded(prompts_list)

        # Create a list to store the generated SQL queries
        generated_sql_queries = []

        for result in results:
            generated_sql_query = result[0]
            generated_sql_queries.append(generated_sql_query)

        # Add the new column 'Generated_SQL_Query' to df_results
        df['Generated_SQL_Query'] = generated_sql_queries

        # for result in results:
        #     # print(f'result: {result}')
        #     generated_sql_query = result[0]

        #     if result[1] != None:
        #         cost = wrapper.calculate_cost(result[1], wrapper.model_id)
        #         generation_info = {"input_tokens": result['input_tokens'], "output_tokens": result[1]['output_tokens'], "cost": cost , "query_time": result[2] }
        #     else:
        #         # not all models support/return token count yet in Bedrock API
        #         generation_info = {"input_tokens": 'N/A', "output_tokens": 'N/A', "cost": 0 , "query_time": result[2] }
            
        #     # print(f'generation_info: {generation_info}')
        return df


import re
import json
SCORE_PATTERN = r'<score>(.*?)</score>'
REASONING_PATTERN = r'<thinking>(.*?)</thinking>'
CORRECTNESS_PATTERN = r'<correctness>(.*?)</correctness>'
SQL_PATTERN = r'<SQL>(.*?)</SQL>'

# Strip out the portion of the response with regex.
def extract_with_regex(response, regex):
    matches = re.search(regex, response, re.DOTALL)
    # Extract the matched content, if any
    return matches.group(1).strip() if matches else None

def format_results(grade: str, chat_conversation: list[dict]) -> dict:
    reasoning: str = extract_with_regex(grade, REASONING_PATTERN)
    correctness: str =  extract_with_regex(grade, CORRECTNESS_PATTERN)
    
    return {
        'chat_conversation': chat_conversation,
        'reasoning': reasoning,
        'correctness': correctness
    }

In [6]:
# 5. Get schema for all tables in database

if SQL_DATABASE == 'LOCAL':
    # create local db and import northwind database

    # %load_ext sql
    # %sql sqlite:///routedb.db

    import requests
    import sqlite3
    import re

    # Download the SQL files
    url1 = "https://raw.githubusercontent.com/YugaByte/yugabyte-db/master/sample/northwind_ddl.sql"
    url2 = "https://raw.githubusercontent.com/YugaByte/yugabyte-db/master/sample/northwind_data.sql"

    urls = [url2]

    for url in urls:
        response = requests.get(url)
        sql_content = response.text

        # Create a SQLite database connection
        conn = sqlite3.connect('routedb.db')
        cursor = conn.cursor()

        # Split the SQL content into individual statements
        sql_statements = re.split(r';\s*$', sql_content, flags=re.MULTILINE)

        # Execute each SQL statement
        for statement in sql_statements:
            # Skip empty statements
            if statement.strip():
                print(f'statement: {statement}')
                # Replace PostgreSQL-specific syntax with SQLite equivalents
                statement = statement.replace('SERIAL PRIMARY KEY', 'INTEGER PRIMARY KEY AUTOINCREMENT')
                statement = statement.replace('::int', '')
                statement = statement.replace('::varchar', '')
                statement = statement.replace('::real', '')
                statement = statement.replace('::date', '')
                statement = statement.replace('::boolean', '')
                statement = statement.replace('public.', '')
                statement = re.sub(r'WITH \(.*?\)', '', statement)
                
                try:
                    cursor.execute(statement)
                except sqlite3.Error as e:
                    print(f"Error executing statement: {e}")
                    print(f"Statement: {statement}")

        # Commit the changes and close the connection
        conn.commit()
        conn.close()

        print("SQL execution completed.")

    #hardcoded Northwind database schema
    schema = '''--
    -- PostgreSQL database dump
    --

    SET statement_timeout = 0;
    SET lock_timeout = 0;
    SET client_encoding = 'UTF8';
    SET standard_conforming_strings = on;
    SET check_function_bodies = false;
    SET client_min_messages = warning;



    SET default_tablespace = '';

    SET default_with_oids = false;


    ---
    --- drop tables
    ---


    DROP TABLE IF EXISTS customer_customer_demo;
    DROP TABLE IF EXISTS customer_demographics;
    DROP TABLE IF EXISTS employee_territories;
    DROP TABLE IF EXISTS order_details;
    DROP TABLE IF EXISTS orders;
    DROP TABLE IF EXISTS customers;
    DROP TABLE IF EXISTS products;
    DROP TABLE IF EXISTS shippers;
    DROP TABLE IF EXISTS suppliers;
    DROP TABLE IF EXISTS territories;
    DROP TABLE IF EXISTS us_states;
    DROP TABLE IF EXISTS categories;
    DROP TABLE IF EXISTS region;
    DROP TABLE IF EXISTS employees;

    --
    -- Name: categories; Type: TABLE; Schema: public; Owner: -; Tablespace: 
    --

    CREATE TABLE categories (
        category_id smallint NOT NULL PRIMARY KEY,
        category_name character varying(15) NOT NULL,
        description text,
        picture bytea
    );


    --
    -- Name: customer_demographics; Type: TABLE; Schema: public; Owner: -; Tablespace: 
    --

    CREATE TABLE customer_demographics (
        customer_type_id bpchar NOT NULL PRIMARY KEY,
        customer_desc text
    );


    --
    -- Name: customers; Type: TABLE; Schema: public; Owner: -; Tablespace: 
    --

    CREATE TABLE customers (
        customer_id bpchar NOT NULL PRIMARY KEY,
        company_name character varying(40) NOT NULL,
        contact_name character varying(30),
        contact_title character varying(30),
        address character varying(60),
        city character varying(15),
        region character varying(15),
        postal_code character varying(10),
        country character varying(15),
        phone character varying(24),
        fax character varying(24)
    );

    --
    -- Name: customer_customer_demo; Type: TABLE; Schema: public; Owner: -; Tablespace: 
    --

    CREATE TABLE customer_customer_demo (
        customer_id bpchar NOT NULL,
        customer_type_id bpchar NOT NULL,
        PRIMARY KEY (customer_id, customer_type_id),
        FOREIGN KEY (customer_type_id) REFERENCES customer_demographics,
        FOREIGN KEY (customer_id) REFERENCES customers
    );

    --
    -- Name: employees; Type: TABLE; Schema: public; Owner: -; Tablespace: 
    --

    CREATE TABLE employees (
        employee_id smallint NOT NULL PRIMARY KEY,
        last_name character varying(20) NOT NULL,
        first_name character varying(10) NOT NULL,
        title character varying(30),
        title_of_courtesy character varying(25),
        birth_date date,
        hire_date date,
        address character varying(60),
        city character varying(15),
        region character varying(15),
        postal_code character varying(10),
        country character varying(15),
        home_phone character varying(24),
        extension character varying(4),
        photo bytea,
        notes text,
        reports_to smallint,
        photo_path character varying(255),
        FOREIGN KEY (reports_to) REFERENCES employees
    );


    --
    -- Name: suppliers; Type: TABLE; Schema: public; Owner: -; Tablespace: 
    --

    CREATE TABLE suppliers (
        supplier_id smallint NOT NULL PRIMARY KEY,
        company_name character varying(40) NOT NULL,
        contact_name character varying(30),
        contact_title character varying(30),
        address character varying(60),
        city character varying(15),
        region character varying(15),
        postal_code character varying(10),
        country character varying(15),
        phone character varying(24),
        fax character varying(24),
        homepage text
    );


    --
    -- Name: products; Type: TABLE; Schema: public; Owner: -; Tablespace: 
    --

    CREATE TABLE products (
        product_id smallint NOT NULL PRIMARY KEY,
        product_name character varying(40) NOT NULL,
        supplier_id smallint,
        category_id smallint,
        quantity_per_unit character varying(20),
        unit_price real,
        units_in_stock smallint,
        units_on_order smallint,
        reorder_level smallint,
        discontinued integer NOT NULL,
        FOREIGN KEY (category_id) REFERENCES categories,
        FOREIGN KEY (supplier_id) REFERENCES suppliers
    );


    --
    -- Name: region; Type: TABLE; Schema: public; Owner: -; Tablespace: 
    --

    CREATE TABLE region (
        region_id smallint NOT NULL PRIMARY KEY,
        region_description bpchar NOT NULL
    );


    --
    -- Name: shippers; Type: TABLE; Schema: public; Owner: -; Tablespace: 
    --

    CREATE TABLE shippers (
        shipper_id smallint NOT NULL PRIMARY KEY,
        company_name character varying(40) NOT NULL,
        phone character varying(24)
    );


    --
    -- Name: orders; Type: TABLE; Schema: public; Owner: -; Tablespace: 
    --

    CREATE TABLE orders (
        order_id smallint NOT NULL PRIMARY KEY,
        customer_id bpchar,
        employee_id smallint,
        order_date date,
        required_date date,
        shipped_date date,
        ship_via smallint,
        freight real,
        ship_name character varying(40),
        ship_address character varying(60),
        ship_city character varying(15),
        ship_region character varying(15),
        ship_postal_code character varying(10),
        ship_country character varying(15),
        FOREIGN KEY (customer_id) REFERENCES customers,
        FOREIGN KEY (employee_id) REFERENCES employees,
        FOREIGN KEY (ship_via) REFERENCES shippers
    );


    --
    -- Name: territories; Type: TABLE; Schema: public; Owner: -; Tablespace: 
    --

    CREATE TABLE territories (
        territory_id character varying(20) NOT NULL PRIMARY KEY,
        territory_description bpchar NOT NULL,
        region_id smallint NOT NULL,
        FOREIGN KEY (region_id) REFERENCES region
    );


    --
    -- Name: employee_territories; Type: TABLE; Schema: public; Owner: -; Tablespace: 
    --

    CREATE TABLE employee_territories (
        employee_id smallint NOT NULL,
        territory_id character varying(20) NOT NULL,
        PRIMARY KEY (employee_id, territory_id),
        FOREIGN KEY (territory_id) REFERENCES territories,
        FOREIGN KEY (employee_id) REFERENCES employees
    );


    --
    -- Name: order_details; Type: TABLE; Schema: public; Owner: -; Tablespace: 
    --

    CREATE TABLE order_details (
        order_id smallint NOT NULL,
        product_id smallint NOT NULL,
        unit_price real NOT NULL,
        quantity smallint NOT NULL,
        discount real NOT NULL,
        PRIMARY KEY (order_id, product_id),
        FOREIGN KEY (product_id) REFERENCES products,
        FOREIGN KEY (order_id) REFERENCES orders
    );


    --
    -- Name: us_states; Type: TABLE; Schema: public; Owner: -; Tablespace: 
    --

    CREATE TABLE us_states (
        state_id smallint NOT NULL PRIMARY KEY,
        state_name character varying(100),
        state_abbr character varying(2),
        state_region character varying(50)
    );'''


else: 
    # use a Glue database
    DATABASE = ''
    schema = get_schema(DATABASE)

statement: --
-- PostgreSQL database dump
--

SET statement_timeout = 0
Error executing statement: near "SET": syntax error
Statement: --
-- PostgreSQL database dump
--

SET statement_timeout = 0
statement:
SET lock_timeout = 0
Error executing statement: near "SET": syntax error
Statement:
SET lock_timeout = 0
statement:
SET client_encoding = 'UTF8'
Error executing statement: near "SET": syntax error
Statement:
SET client_encoding = 'UTF8'
statement:
SET standard_conforming_strings = on
Error executing statement: near "SET": syntax error
Statement:
SET standard_conforming_strings = on
statement:
SET check_function_bodies = false
Error executing statement: near "SET": syntax error
Statement:
SET check_function_bodies = false
statement:
SET client_min_messages = warning
Error executing statement: near "SET": syntax error
Statement:
SET client_min_messages = warning
statement:
SET default_tablespace = ''
Error executing statement: near "SET": syntax error
Statement:
SET default_tablespace = ''
statement:
SET default_with_oids = false
Error executing statement: near "SET": syntax error
Statement:
SET default_with_oids = false
statement:
SET SESSION CHARACTERISTICS AS TRANSACTION ISOLATION LEVEL SERIALIZABLE
Error executing statement: near "SET": syntax error
Statement:
SET SESSION CHARACTERISTICS AS TRANSACTION ISOLATION LEVEL SERIALIZABLE
statement:
--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.categories VALUES
	(1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales', '\x'),
	(2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings', '\x'),
	(3, 'Confections', 'Desserts, candies, and sweet breads', '\x'),
	(4, 'Dairy Products', 'Cheeses', '\x'),
	(5, 'Grains/Cereals', 'Breads, crackers, pasta, and cereal', '\x'),
	(6, 'Meat/Poultry', 'Prepared meats', '\x'),
	(7, 'Produce', 'Dried fruit and bean curd', '\x'),
	(8, 'Seafood', 'Seaweed and fish', '\x')
Error executing statement: UNIQUE constraint failed: categories.category_id
Statement:
--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO categories VALUES
	(1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales', '\x'),
	(2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings', '\x'),
	(3, 'Confections', 'Desserts, candies, and sweet breads', '\x'),
	(4, 'Dairy Products', 'Cheeses', '\x'),
	(5, 'Grains/Cereals', 'Breads, crackers, pasta, and cereal', '\x'),
	(6, 'Meat/Poultry', 'Prepared meats', '\x'),
	(7, 'Produce', 'Dried fruit and bean curd', '\x'),
	(8, 'Seafood', 'Seaweed and fish', '\x')
statement:
--
-- Data for Name: customer_demographics; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: customers; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.customers VALUES
	('ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Sales Representative', 'Obere Str. 57', 'Berlin', NULL, '12209', 'Germany', '030-0074321', '030-0076545'),
	('ANATR', 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Owner', 'Avda. de la Constitución 2222', 'México D.F.', NULL, '05021', 'Mexico', '(5) 555-4729', '(5) 555-3745'),
	('ANTON', 'Antonio Moreno Taquería', 'Antonio Moreno', 'Owner', 'Mataderos  2312', 'México D.F.', NULL, '05023', 'Mexico', '(5) 555-3932', NULL),
	('AROUT', 'Around the Horn', 'Thomas Hardy', 'Sales Representative', '120 Hanover Sq.', 'London', NULL, 'WA1 1DP', 'UK', '(171) 555-7788', '(171) 555-6750'),
	('BERGS', 'Berglunds snabbköp', 'Christina Berglund', 'Order Administrator', 'Berguvsvägen  8', 'Luleå', NULL, 'S-958 22', 'Sweden', '0921-12 34 65', '0921-12 34 67'),
	('BLAUS', 'Blauer See Delikatessen', 'Hanna Moos', 'Sales Representative', 'Forsterstr. 57', 'Mannheim', NULL, '68306', 'Germany', '0621-08460', '0621-08924'),
	('BLONP', 'Blondesddsl père et fils', 'Frédérique Citeaux', 'Marketing Manager', '24, place Kléber', 'Strasbourg', NULL, '67000', 'France', '88.60.15.31', '88.60.15.32'),
	('BOLID', 'Bólido Comidas preparadas', 'Martín Sommer', 'Owner', 'C/ Araquil, 67', 'Madrid', NULL, '28023', 'Spain', '(91) 555 22 82', '(91) 555 91 99'),
	('BONAP', 'Bon app''', 'Laurence Lebihan', 'Owner', '12, rue des Bouchers', 'Marseille', NULL, '13008', 'France', '91.24.45.40', '91.24.45.41'),
	('BOTTM', 'Bottom-Dollar Markets', 'Elizabeth Lincoln', 'Accounting Manager', '23 Tsawassen Blvd.', 'Tsawassen', 'BC', 'T2F 8M4', 'Canada', '(604) 555-4729', '(604) 555-3745'),
	('BSBEV', 'B''s Beverages', 'Victoria Ashworth', 'Sales Representative', 'Fauntleroy Circus', 'London', NULL, 'EC2 5NT', 'UK', '(171) 555-1212', NULL),
	('CACTU', 'Cactus Comidas para llevar', 'Patricio Simpson', 'Sales Agent', 'Cerrito 333', 'Buenos Aires', NULL, '1010', 'Argentina', '(1) 135-5555', '(1) 135-4892'),
	('CENTC', 'Centro comercial Moctezuma', 'Francisco Chang', 'Marketing Manager', 'Sierras de Granada 9993', 'México D.F.', NULL, '05022', 'Mexico', '(5) 555-3392', '(5) 555-7293'),
	('CHOPS', 'Chop-suey Chinese', 'Yang Wang', 'Owner', 'Hauptstr. 29', 'Bern', NULL, '3012', 'Switzerland', '0452-076545', NULL),
	('COMMI', 'Comércio Mineiro', 'Pedro Afonso', 'Sales Associate', 'Av. dos Lusíadas, 23', 'Sao Paulo', 'SP', '05432-043', 'Brazil', '(11) 555-7647', NULL),
	('CONSH', 'Consolidated Holdings', 'Elizabeth Brown', 'Sales Representative', 'Berkeley Gardens 12  Brewery', 'London', NULL, 'WX1 6LT', 'UK', '(171) 555-2282', '(171) 555-9199'),
	('DRACD', 'Drachenblut Delikatessen', 'Sven Ottlieb', 'Order Administrator', 'Walserweg 21', 'Aachen', NULL, '52066', 'Germany', '0241-039123', '0241-059428'),
	('DUMON', 'Du monde entier', 'Janine Labrune', 'Owner', '67, rue des Cinquante Otages', 'Nantes', NULL, '44000', 'France', '40.67.88.88', '40.67.89.89'),
	('EASTC', 'Eastern Connection', 'Ann Devon', 'Sales Agent', '35 King George', 'London', NULL, 'WX3 6FW', 'UK', '(171) 555-0297', '(171) 555-3373'),
	('ERNSH', 'Ernst Handel', 'Roland Mendel', 'Sales Manager', 'Kirchgasse 6', 'Graz', NULL, '8010', 'Austria', '7675-3425', '7675-3426'),
	('FAMIA', 'Familia Arquibaldo', 'Aria Cruz', 'Marketing Assistant', 'Rua Orós, 92', 'Sao Paulo', 'SP', '05442-030', 'Brazil', '(11) 555-9857', NULL),
	('FISSA', 'FISSA Fabrica Inter. Salchichas S.A.', 'Diego Roel', 'Accounting Manager', 'C/ Moralzarzal, 86', 'Madrid', NULL, '28034', 'Spain', '(91) 555 94 44', '(91) 555 55 93'),
	('FOLIG', 'Folies gourmandes', 'Martine Rancé', 'Assistant Sales Agent', '184, chaussée de Tournai', 'Lille', NULL, '59000', 'France', '20.16.10.16', '20.16.10.17'),
	('FOLKO', 'Folk och fä HB', 'Maria Larsson', 'Owner', 'Åkergatan 24', 'Bräcke', NULL, 'S-844 67', 'Sweden', '0695-34 67 21', NULL),
	('FRANK', 'Frankenversand', 'Peter Franken', 'Marketing Manager', 'Berliner Platz 43', 'München', NULL, '80805', 'Germany', '089-0877310', '089-0877451'),
	('FRANR', 'France restauration', 'Carine Schmitt', 'Marketing Manager', '54, rue Royale', 'Nantes', NULL, '44000', 'France', '40.32.21.21', '40.32.21.20'),
	('FRANS', 'Franchi S.p.A.', 'Paolo Accorti', 'Sales Representative', 'Via Monte Bianco 34', 'Torino', NULL, '10100', 'Italy', '011-4988260', '011-4988261'),
	('FURIB', 'Furia Bacalhau e Frutos do Mar', 'Lino Rodriguez', 'Sales Manager', 'Jardim das rosas n. 32', 'Lisboa', NULL, '1675', 'Portugal', '(1) 354-2534', '(1) 354-2535'),
	('GALED', 'Galería del gastrónomo', 'Eduardo Saavedra', 'Marketing Manager', 'Rambla de Cataluña, 23', 'Barcelona', NULL, '08022', 'Spain', '(93) 203 4560', '(93) 203 4561'),
	('GODOS', 'Godos Cocina Típica', 'José Pedro Freyre', 'Sales Manager', 'C/ Romero, 33', 'Sevilla', NULL, '41101', 'Spain', '(95) 555 82 82', NULL),
	('GOURL', 'Gourmet Lanchonetes', 'André Fonseca', 'Sales Associate', 'Av. Brasil, 442', 'Campinas', 'SP', '04876-786', 'Brazil', '(11) 555-9482', NULL),
	('GREAL', 'Great Lakes Food Market', 'Howard Snyder', 'Marketing Manager', '2732 Baker Blvd.', 'Eugene', 'OR', '97403', 'USA', '(503) 555-7555', NULL),
	('GROSR', 'GROSELLA-Restaurante', 'Manuel Pereira', 'Owner', '5ª Ave. Los Palos Grandes', 'Caracas', 'DF', '1081', 'Venezuela', '(2) 283-2951', '(2) 283-3397'),
	('HANAR', 'Hanari Carnes', 'Mario Pontes', 'Accounting Manager', 'Rua do Paço, 67', 'Rio de Janeiro', 'RJ', '05454-876', 'Brazil', '(21) 555-0091', '(21) 555-8765'),
	('HILAA', 'HILARION-Abastos', 'Carlos Hernández', 'Sales Representative', 'Carrera 22 con Ave. Carlos Soublette #8-35', 'San Cristóbal', 'Táchira', '5022', 'Venezuela', '(5) 555-1340', '(5) 555-1948'),
	('HUNGC', 'Hungry Coyote Import Store', 'Yoshi Latimer', 'Sales Representative', 'City Center Plaza 516 Main St.', 'Elgin', 'OR', '97827', 'USA', '(503) 555-6874', '(503) 555-2376'),
	('HUNGO', 'Hungry Owl All-Night Grocers', 'Patricia McKenna', 'Sales Associate', '8 Johnstown Road', 'Cork', 'Co. Cork', NULL, 'Ireland', '2967 542', '2967 3333'),
	('ISLAT', 'Island Trading', 'Helen Bennett', 'Marketing Manager', 'Garden House Crowther Way', 'Cowes', 'Isle of Wight', 'PO31 7PJ', 'UK', '(198) 555-8888', NULL),
	('KOENE', 'Königlich Essen', 'Philip Cramer', 'Sales Associate', 'Maubelstr. 90', 'Brandenburg', NULL, '14776', 'Germany', '0555-09876', NULL),
	('LACOR', 'La corne d''abondance', 'Daniel Tonini', 'Sales Representative', '67, avenue de l''Europe', 'Versailles', NULL, '78000', 'France', '30.59.84.10', '30.59.85.11'),
	('LAMAI', 'La maison d''Asie', 'Annette Roulet', 'Sales Manager', '1 rue Alsace-Lorraine', 'Toulouse', NULL, '31000', 'France', '61.77.61.10', '61.77.61.11'),
	('LAUGB', 'Laughing Bacchus Wine Cellars', 'Yoshi Tannamuri', 'Marketing Assistant', '1900 Oak St.', 'Vancouver', 'BC', 'V3F 2K1', 'Canada', '(604) 555-3392', '(604) 555-7293'),
	('LAZYK', 'Lazy K Kountry Store', 'John Steel', 'Marketing Manager', '12 Orchestra Terrace', 'Walla Walla', 'WA', '99362', 'USA', '(509) 555-7969', '(509) 555-6221'),
	('LEHMS', 'Lehmanns Marktstand', 'Renate Messner', 'Sales Representative', 'Magazinweg 7', 'Frankfurt a.M.', NULL, '60528', 'Germany', '069-0245984', '069-0245874'),
	('LETSS', 'Let''s Stop N Shop', 'Jaime Yorres', 'Owner', '87 Polk St. Suite 5', 'San Francisco', 'CA', '94117', 'USA', '(415) 555-5938', NULL),
	('LILAS', 'LILA-Supermercado', 'Carlos González', 'Accounting Manager', 'Carrera 52 con Ave. Bolívar #65-98 Llano Largo', 'Barquisimeto', 'Lara', '3508', 'Venezuela', '(9) 331-6954', '(9) 331-7256'),
	('LINOD', 'LINO-Delicateses', 'Felipe Izquierdo', 'Owner', 'Ave. 5 de Mayo Porlamar', 'I. de Margarita', 'Nueva Esparta', '4980', 'Venezuela', '(8) 34-56-12', '(8) 34-93-93'),
	('LONEP', 'Lonesome Pine Restaurant', 'Fran Wilson', 'Sales Manager', '89 Chiaroscuro Rd.', 'Portland', 'OR', '97219', 'USA', '(503) 555-9573', '(503) 555-9646'),
	('MAGAA', 'Magazzini Alimentari Riuniti', 'Giovanni Rovelli', 'Marketing Manager', 'Via Ludovico il Moro 22', 'Bergamo', NULL, '24100', 'Italy', '035-640230', '035-640231'),
	('MAISD', 'Maison Dewey', 'Catherine Dewey', 'Sales Agent', 'Rue Joseph-Bens 532', 'Bruxelles', NULL, 'B-1180', 'Belgium', '(02) 201 24 67', '(02) 201 24 68'),
	('MEREP', 'Mère Paillarde', 'Jean Fresnière', 'Marketing Assistant', '43 rue St. Laurent', 'Montréal', 'Québec', 'H1J 1C3', 'Canada', '(514) 555-8054', '(514) 555-8055'),
	('MORGK', 'Morgenstern Gesundkost', 'Alexander Feuer', 'Marketing Assistant', 'Heerstr. 22', 'Leipzig', NULL, '04179', 'Germany', '0342-023176', NULL),
	('NORTS', 'North/South', 'Simon Crowther', 'Sales Associate', 'South House 300 Queensbridge', 'London', NULL, 'SW7 1RZ', 'UK', '(171) 555-7733', '(171) 555-2530'),
	('OCEAN', 'Océano Atlántico Ltda.', 'Yvonne Moncada', 'Sales Agent', 'Ing. Gustavo Moncada 8585 Piso 20-A', 'Buenos Aires', NULL, '1010', 'Argentina', '(1) 135-5333', '(1) 135-5535'),
	('OLDWO', 'Old World Delicatessen', 'Rene Phillips', 'Sales Representative', '2743 Bering St.', 'Anchorage', 'AK', '99508', 'USA', '(907) 555-7584', '(907) 555-2880'),
	('OTTIK', 'Ottilies Käseladen', 'Henriette Pfalzheim', 'Owner', 'Mehrheimerstr. 369', 'Köln', NULL, '50739', 'Germany', '0221-0644327', '0221-0765721'),
	('PARIS', 'Paris spécialités', 'Marie Bertrand', 'Owner', '265, boulevard Charonne', 'Paris', NULL, '75012', 'France', '(1) 42.34.22.66', '(1) 42.34.22.77'),
	('PERIC', 'Pericles Comidas clásicas', 'Guillermo Fernández', 'Sales Representative', 'Calle Dr. Jorge Cash 321', 'México D.F.', NULL, '05033', 'Mexico', '(5) 552-3745', '(5) 545-3745'),
	('PICCO', 'Piccolo und mehr', 'Georg Pipps', 'Sales Manager', 'Geislweg 14', 'Salzburg', NULL, '5020', 'Austria', '6562-9722', '6562-9723'),
	('PRINI', 'Princesa Isabel Vinhos', 'Isabel de Castro', 'Sales Representative', 'Estrada da saúde n. 58', 'Lisboa', NULL, '1756', 'Portugal', '(1) 356-5634', NULL),
	('QUEDE', 'Que Delícia', 'Bernardo Batista', 'Accounting Manager', 'Rua da Panificadora, 12', 'Rio de Janeiro', 'RJ', '02389-673', 'Brazil', '(21) 555-4252', '(21) 555-4545'),
	('QUEEN', 'Queen Cozinha', 'Lúcia Carvalho', 'Marketing Assistant', 'Alameda dos Canàrios, 891', 'Sao Paulo', 'SP', '05487-020', 'Brazil', '(11) 555-1189', NULL),
	('QUICK', 'QUICK-Stop', 'Horst Kloss', 'Accounting Manager', 'Taucherstraße 10', 'Cunewalde', NULL, '01307', 'Germany', '0372-035188', NULL),
	('RANCH', 'Rancho grande', 'Sergio Gutiérrez', 'Sales Representative', 'Av. del Libertador 900', 'Buenos Aires', NULL, '1010', 'Argentina', '(1) 123-5555', '(1) 123-5556'),
	('RATTC', 'Rattlesnake Canyon Grocery', 'Paula Wilson', 'Assistant Sales Representative', '2817 Milton Dr.', 'Albuquerque', 'NM', '87110', 'USA', '(505) 555-5939', '(505) 555-3620'),
	('REGGC', 'Reggiani Caseifici', 'Maurizio Moroni', 'Sales Associate', 'Strada Provinciale 124', 'Reggio Emilia', NULL, '42100', 'Italy', '0522-556721', '0522-556722'),
	('RICAR', 'Ricardo Adocicados', 'Janete Limeira', 'Assistant Sales Agent', 'Av. Copacabana, 267', 'Rio de Janeiro', 'RJ', '02389-890', 'Brazil', '(21) 555-3412', NULL),
	('RICSU', 'Richter Supermarkt', 'Michael Holz', 'Sales Manager', 'Grenzacherweg 237', 'Genève', NULL, '1203', 'Switzerland', '0897-034214', NULL),
	('ROMEY', 'Romero y tomillo', 'Alejandra Camino', 'Accounting Manager', 'Gran Vía, 1', 'Madrid', NULL, '28001', 'Spain', '(91) 745 6200', '(91) 745 6210'),
	('SANTG', 'Santé Gourmet', 'Jonas Bergulfsen', 'Owner', 'Erling Skakkes gate 78', 'Stavern', NULL, '4110', 'Norway', '07-98 92 35', '07-98 92 47'),
	('SAVEA', 'Save-a-lot Markets', 'Jose Pavarotti', 'Sales Representative', '187 Suffolk Ln.', 'Boise', 'ID', '83720', 'USA', '(208) 555-8097', NULL),
	('SEVES', 'Seven Seas Imports', 'Hari Kumar', 'Sales Manager', '90 Wadhurst Rd.', 'London', NULL, 'OX15 4NB', 'UK', '(171) 555-1717', '(171) 555-5646'),
	('SIMOB', 'Simons bistro', 'Jytte Petersen', 'Owner', 'Vinbæltet 34', 'Kobenhavn', NULL, '1734', 'Denmark', '31 12 34 56', '31 13 35 57'),
	('SPECD', 'Spécialités du monde', 'Dominique Perrier', 'Marketing Manager', '25, rue Lauriston', 'Paris', NULL, '75016', 'France', '(1) 47.55.60.10', '(1) 47.55.60.20'),
	('SPLIR', 'Split Rail Beer & Ale', 'Art Braunschweiger', 'Sales Manager', 'P.O. Box 555', 'Lander', 'WY', '82520', 'USA', '(307) 555-4680', '(307) 555-6525'),
	('SUPRD', 'Suprêmes délices', 'Pascale Cartrain', 'Accounting Manager', 'Boulevard Tirou, 255', 'Charleroi', NULL, 'B-6000', 'Belgium', '(071) 23 67 22 20', '(071) 23 67 22 21'),
	('THEBI', 'The Big Cheese', 'Liz Nixon', 'Marketing Manager', '89 Jefferson Way Suite 2', 'Portland', 'OR', '97201', 'USA', '(503) 555-3612', NULL),
	('THECR', 'The Cracker Box', 'Liu Wong', 'Marketing Assistant', '55 Grizzly Peak Rd.', 'Butte', 'MT', '59801', 'USA', '(406) 555-5834', '(406) 555-8083'),
	('TOMSP', 'Toms Spezialitäten', 'Karin Josephs', 'Marketing Manager', 'Luisenstr. 48', 'Münster', NULL, '44087', 'Germany', '0251-031259', '0251-035695'),
	('TORTU', 'Tortuga Restaurante', 'Miguel Angel Paolino', 'Owner', 'Avda. Azteca 123', 'México D.F.', NULL, '05033', 'Mexico', '(5) 555-2933', NULL),
	('TRADH', 'Tradição Hipermercados', 'Anabela Domingues', 'Sales Representative', 'Av. Inês de Castro, 414', 'Sao Paulo', 'SP', '05634-030', 'Brazil', '(11) 555-2167', '(11) 555-2168'),
	('TRAIH', 'Trail''s Head Gourmet Provisioners', 'Helvetius Nagy', 'Sales Associate', '722 DaVinci Blvd.', 'Kirkland', 'WA', '98034', 'USA', '(206) 555-8257', '(206) 555-2174'),
	('VAFFE', 'Vaffeljernet', 'Palle Ibsen', 'Sales Manager', 'Smagsloget 45', 'Århus', NULL, '8200', 'Denmark', '86 21 32 43', '86 22 33 44'),
	('VICTE', 'Victuailles en stock', 'Mary Saveley', 'Sales Agent', '2, rue du Commerce', 'Lyon', NULL, '69004', 'France', '78.32.54.86', '78.32.54.87'),
	('VINET', 'Vins et alcools Chevalier', 'Paul Henriot', 'Accounting Manager', '59 rue de l''Abbaye', 'Reims', NULL, '51100', 'France', '26.47.15.10', '26.47.15.11'),
	('WANDK', 'Die Wandernde Kuh', 'Rita Müller', 'Sales Representative', 'Adenauerallee 900', 'Stuttgart', NULL, '70563', 'Germany', '0711-020361', '0711-035428'),
	('WARTH', 'Wartian Herkku', 'Pirkko Koskitalo', 'Accounting Manager', 'Torikatu 38', 'Oulu', NULL, '90110', 'Finland', '981-443655', '981-443655'),
	('WELLI', 'Wellington Importadora', 'Paula Parente', 'Sales Manager', 'Rua do Mercado, 12', 'Resende', 'SP', '08737-363', 'Brazil', '(14) 555-8122', NULL),
	('WHITC', 'White Clover Markets', 'Karl Jablonski', 'Owner', '305 - 14th Ave. S. Suite 3B', 'Seattle', 'WA', '98128', 'USA', '(206) 555-4112', '(206) 555-4115'),
	('WILMK', 'Wilman Kala', 'Matti Karttunen', 'Owner/Marketing Assistant', 'Keskuskatu 45', 'Helsinki', NULL, '21240', 'Finland', '90-224 8858', '90-224 8858'),
	('WOLZA', 'Wolski  Zajazd', 'Zbyszek Piestrzeniewicz', 'Owner', 'ul. Filtrowa 68', 'Warszawa', NULL, '01-012', 'Poland', '(26) 642-7012', '(26) 642-7012')
Error executing statement: UNIQUE constraint failed: customers.customer_id
Statement:
--
-- Data for Name: customer_demographics; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: customers; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO customers VALUES
	('ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Sales Representative', 'Obere Str. 57', 'Berlin', NULL, '12209', 'Germany', '030-0074321', '030-0076545'),
	('ANATR', 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Owner', 'Avda. de la Constitución 2222', 'México D.F.', NULL, '05021', 'Mexico', '(5) 555-4729', '(5) 555-3745'),
	('ANTON', 'Antonio Moreno Taquería', 'Antonio Moreno', 'Owner', 'Mataderos  2312', 'México D.F.', NULL, '05023', 'Mexico', '(5) 555-3932', NULL),
	('AROUT', 'Around the Horn', 'Thomas Hardy', 'Sales Representative', '120 Hanover Sq.', 'London', NULL, 'WA1 1DP', 'UK', '(171) 555-7788', '(171) 555-6750'),
	('BERGS', 'Berglunds snabbköp', 'Christina Berglund', 'Order Administrator', 'Berguvsvägen  8', 'Luleå', NULL, 'S-958 22', 'Sweden', '0921-12 34 65', '0921-12 34 67'),
	('BLAUS', 'Blauer See Delikatessen', 'Hanna Moos', 'Sales Representative', 'Forsterstr. 57', 'Mannheim', NULL, '68306', 'Germany', '0621-08460', '0621-08924'),
	('BLONP', 'Blondesddsl père et fils', 'Frédérique Citeaux', 'Marketing Manager', '24, place Kléber', 'Strasbourg', NULL, '67000', 'France', '88.60.15.31', '88.60.15.32'),
	('BOLID', 'Bólido Comidas preparadas', 'Martín Sommer', 'Owner', 'C/ Araquil, 67', 'Madrid', NULL, '28023', 'Spain', '(91) 555 22 82', '(91) 555 91 99'),
	('BONAP', 'Bon app''', 'Laurence Lebihan', 'Owner', '12, rue des Bouchers', 'Marseille', NULL, '13008', 'France', '91.24.45.40', '91.24.45.41'),
	('BOTTM', 'Bottom-Dollar Markets', 'Elizabeth Lincoln', 'Accounting Manager', '23 Tsawassen Blvd.', 'Tsawassen', 'BC', 'T2F 8M4', 'Canada', '(604) 555-4729', '(604) 555-3745'),
	('BSBEV', 'B''s Beverages', 'Victoria Ashworth', 'Sales Representative', 'Fauntleroy Circus', 'London', NULL, 'EC2 5NT', 'UK', '(171) 555-1212', NULL),
	('CACTU', 'Cactus Comidas para llevar', 'Patricio Simpson', 'Sales Agent', 'Cerrito 333', 'Buenos Aires', NULL, '1010', 'Argentina', '(1) 135-5555', '(1) 135-4892'),

In [7]:
# 6. Generate questions and SQL queries based on database schema with Sonnet 3.5
import json

prompt = """Human: Review the provided database schema below. Then create 100 questions in natural language along with corresponding SQL queries that would answer these questions based on this database schema.
        
        <database_schema>
        {database_schema}
        </database_schema>
        
        Return the response in JSONL and return only the JSON and nothing else.      
        Assistant: {{""".format(database_schema=schema)

MODEL_ID = 'anthropic.claude-3-5-sonnet-20240620-v1:0'
body = {
    "anthropic_version": "bedrock-2023-05-31",
    "max_tokens": 4000,
    "temperature": 0,
    "messages": [
        {
            "role": "user",
            "content": [{"type": "text", "text": prompt}],
        }
    ],
}

response = bedrock_runtime_client.invoke_model(
    body=json.dumps(body),
    modelId=MODEL_ID,

)

response_body = json.loads(response.get('body').read()) # read the response

response_text = response_body.get('content')[0].get('text')

print(response_text)

{"question": "What are the names of all categories?", "query": "SELECT category_name FROM categories;"}
{"question": "How many products are there in each category?", "query": "SELECT category_name, COUNT(*) FROM products JOIN categories ON products.category_id = categories.category_id GROUP BY category_name;"}
{"question": "Who are the suppliers with the most products?", "query": "SELECT suppliers.company_name, COUNT(*) as product_count FROM products JOIN suppliers ON products.supplier_id = suppliers.supplier_id GROUP BY suppliers.company_name ORDER BY product_count DESC LIMIT 5;"}
{"question": "What is the average unit price of products by category?", "query": "SELECT categories.category_name, AVG(products.unit_price) as avg_price FROM products JOIN categories ON products.category_id = categories.category_id GROUP BY categories.category_name;"}
{"question": "Which employees have the most orders?", "query": "SELECT employees.first_name, employees.last_name, COUNT(*) as order_count FROM orders JOIN employees ON orders.employee_id = employees.employee_id GROUP BY employees.employee_id ORDER BY order_count DESC LIMIT 5;"}
{"question": "What are the top 10 most ordered products?", "query": "SELECT products.product_name, SUM(order_details.quantity) as total_quantity FROM order_details JOIN products ON order_details.product_id = products.product_id GROUP BY products.product_id ORDER BY total_quantity DESC LIMIT 10;"}
{"question": "Which customers have placed the most orders?", "query": "SELECT customers.company_name, COUNT(*) as order_count FROM orders JOIN customers ON orders.customer_id = customers.customer_id GROUP BY customers.customer_id ORDER BY order_count DESC LIMIT 5;"}
{"question": "What is the total revenue for each product?", "query": "SELECT products.product_name, SUM(order_details.unit_price * order_details.quantity * (1 - order_details.discount)) as total_revenue FROM order_details JOIN products ON order_details.product_id = products.product_id GROUP BY products.product_id ORDER BY total_revenue DESC;"}
{"question": "Which shippers have shipped the most orders?", "query": "SELECT shippers.company_name, COUNT(*) as shipment_count FROM orders JOIN shippers ON orders.ship_via = shippers.shipper_id GROUP BY shippers.shipper_id ORDER BY shipment_count DESC;"}
{"question": "What is the average freight cost for orders by country?", "query": "SELECT ship_country, AVG(freight) as avg_freight FROM orders GROUP BY ship_country ORDER BY avg_freight DESC;"}
{"question": "Which employees are responsible for the highest total order value?", "query": "SELECT employees.first_name, employees.last_name, SUM(order_details.unit_price * order_details.quantity * (1 - order_details.discount)) as total_value FROM orders JOIN employees ON orders.employee_id = employees.employee_id JOIN order_details ON orders.order_id = order_details.order_id GROUP BY employees.employee_id ORDER BY total_value DESC LIMIT 5;"}
{"question": "What are the top 5 countries with the most customers?", "query": "SELECT country, COUNT(*) as customer_count FROM customers GROUP BY country ORDER BY customer_count DESC LIMIT 5;"}
{"question": "Which products have been discontinued?", "query": "SELECT product_name FROM products WHERE discontinued = 1;"}
{"question": "What is the total number of units in stock for each supplier?", "query": "SELECT suppliers.company_name, SUM(products.units_in_stock) as total_stock FROM products JOIN suppliers ON products.supplier_id = suppliers.supplier_id GROUP BY suppliers.supplier_id ORDER BY total_stock DESC;"}
{"question": "Which orders have not been shipped yet?", "query": "SELECT order_id, order_date FROM orders WHERE shipped_date IS NULL;"}
{"question": "What is the average age of employees?", "query": "SELECT AVG(EXTRACT(YEAR FROM AGE(CURRENT_DATE, birth_date))) as avg_age FROM employees;"}
{"question": "Which territories have the most employees assigned to them?", "query": "SELECT territories.territory_description, COUNT(*) as employee_count FROM employee_territories JOIN territories ON employee_territories.territory_id = territories.territory_id GROUP BY territories.territory_id ORDER BY employee_count DESC LIMIT 5;"}
{"question": "What is the total discount amount for each order?", "query": "SELECT order_id, SUM(unit_price * quantity * discount) as total_discount FROM order_details GROUP BY order_id ORDER BY total_discount DESC;"}
{"question": "Which customers have never placed an order?", "query": "SELECT customers.company_name FROM customers LEFT JOIN orders ON customers.customer_id = orders.customer_id WHERE orders.order_id IS NULL;"}
{"question": "What is the most common ship country for orders?", "query": "SELECT ship_country, COUNT(*) as order_count FROM orders GROUP BY ship_country ORDER BY order_count DESC LIMIT 1;"}
{"question": "Which employees have territories in multiple regions?", "query": "SELECT employees.first_name, employees.last_name, COUNT(DISTINCT territories.region_id) as region_count FROM employees JOIN employee_territories ON employees.employee_id = employee_territories.employee_id JOIN territories ON employee_territories.territory_id = territories.territory_id GROUP BY employees.employee_id HAVING COUNT(DISTINCT territories.region_id) > 1;"}
{"question": "What is the average number of days between order date and ship date?", "query": "SELECT AVG(shipped_date - order_date) as avg_days FROM orders WHERE shipped_date IS NOT NULL;"}
{"question": "Which products have a higher reorder level than units in stock?", "query": "SELECT product_name, reorder_level, units_in_stock FROM products WHERE reorder_level > units_in_stock;"}
{"question": "What is the total value of all orders placed in 1997?", "query": "SELECT SUM(order_details.unit_price * order_details.quantity * (1 - order_details.discount)) as total_value FROM orders JOIN order_details ON orders.order_id = order_details.order_id WHERE EXTRACT(YEAR FROM orders.order_date) = 1997;"}
{"question": "Which customers have placed orders for all product categories?", "query": "SELECT customers.company_name FROM customers WHERE NOT EXISTS (SELECT categories.category_id FROM categories WHERE NOT EXISTS (SELECT 1 FROM orders JOIN order_details ON orders.order_id = order_details.order_id JOIN products ON order_details.product_id = products.product_id WHERE orders.customer_id = customers.customer_id AND products.category_id = categories.category_id));"}
{"question": "What is the most expensive product in each category?", "query": "SELECT categories.category_name, products.product_name, products.unit_price FROM products JOIN categories ON products.category_id = categories.category_id WHERE (categories.category_id, products.unit_price) IN (SELECT category_id, MAX(unit_price) FROM products GROUP BY category_id);"}
{"question": "Which employees have never processed an order?", "query": "SELECT employees.first_name, employees.last_name FROM employees LEFT JOIN orders ON employees.employee_id = orders.employee_id WHERE orders.order_id IS NULL;"}
{"question": "What is the total quantity of products ordered by each customer?", "query": "SELECT customers.company_name, SUM(order_details.quantity) as total_quantity FROM customers JOIN orders ON customers.customer_id = orders.customer_id JOIN order_details ON orders.order_id = order_details.order_id GROUP BY customers.customer_id ORDER BY total_quantity DESC;"}
{"question": "Which suppliers provide products in multiple categories?", "query": "SELECT suppliers.company_name, COUNT(DISTINCT products.category_id) as category_count FROM suppliers JOIN products ON suppliers.supplier_id = products.supplier_id GROUP BY suppliers.supplier_id HAVING COUNT(DISTINCT products.category_id) > 1 ORDER BY category_count DESC;"}
{"question": "What is the average discount percentage for each product?", "query": "SELECT products.product_name, AVG(order_details.discount) * 100 as avg_discount_percentage FROM products JOIN order_details ON products.product_id = order_details.product_id GROUP BY products.product_id ORDER BY avg_discount_percentage DESC;"}
{"question": "Which customers have placed orders in consecutive months?", "query": "SELECT DISTINCT c1.customer_id FROM orders c1 JOIN orders c2 ON c1.customer_id = c2.customer_id WHERE EXTRACT(MONTH FROM c2.order_date) = EXTRACT(MONTH FROM c1.order_date) + 1 AND EXTRACT(YEAR FROM c2.order_date) = EXTRACT(YEAR FROM c1.order_date);"}
{"question": "What is the total revenue for each year?", "query": "SELECT EXTRACT(YEAR FROM orders.order_date) as year, SUM(order_details.unit_price * order_details.quantity * (1 - order_details.discount)) as total_revenue FROM orders JOIN order_details ON orders.order_id = order_details.order_id GROUP BY EXTRACT(YEAR FROM orders.order_date) ORDER BY year;"}
{"question": "Which products have never been ordered?", "query": "SELECT products.product_name FROM products LEFT JOIN order_details ON products.product_id = order_details.product_id WHERE order_details.order_id IS NULL;"}
{"question": "What is the average number of products per order?", "query": "SELECT AVG(product_count) as avg_products_per_order FROM (SELECT order_id, COUNT(product_id) as product_count FROM order_details GROUP BY order_id) as order_product_counts;"}
{"question": "Which employees have the highest sales in each region?", "query": "WITH employee_sales AS (SELECT employees.employee_id, employees.first_name, employees.last_name, territories.region_id, SUM(order_details.unit_price * order_details.quantity * (1 - order_details.discount)) as total_sales FROM employees JOIN employee_territories ON employees.employee_id = employee_territories.employee_id JOIN territories ON employee_territories.territory_id = territories.territory_id JOIN orders ON employees.employee_id = orders.employee_id JOIN order_details ON orders.order_id = order_details.order_id GROUP BY employees.employee_id, territories.region_id) SELECT es.* FROM employee_sales es JOIN (SELECT region_id, MAX(total_sales) as max_sales FROM employee_sales GROUP BY region_id) max_sales ON es.region_id = max_sales.region_id AND es.total_sales = max_sales.max_sales;"}
{"question": "What is the most common shipping destination city for each country?", "query": "SELECT ship_country, ship_city, city_count FROM (SELECT ship_country, ship_city, COUNT(*) as city_count, ROW_NUMBER() OVER (PARTITION BY ship_country ORDER BY COUNT(*) DESC) as rn FROM orders GROUP BY ship_country, ship_city) ranked WHERE rn = 1 ORDER BY city_count DESC;"}
{"question": "Which products have the highest profit margin?", "query": "SELECT products.product_name, (products.unit_price - (SELECT AVG(order_details.unit_price * (1 - order_details.discount)) FROM order_details WHERE order_details.product_id = products.product_id)) / products.unit_price * 100 as profit_margin FROM products ORDER BY profit_margin DESC LIMIT 10;"}
{"question": "What is the average time between orders for each customer?", "query": "SELECT customer_id, AVG(next_order_date - order_date) as avg_days_between_orders FROM (SELECT customer_id, order_date, LEAD(order_date) OVER (PARTITION BY customer_id ORDER BY order_date) as next_order_date FROM orders) as order_dates WHERE next_order_date IS NOT NULL GROUP BY customer_id ORDER BY avg_days_between_orders;"}
{"question": "Which categories have the highest number of discontinued products?", "query": "SELECT categories.category_name, COUNT(*) as discontinued_count FROM products JOIN categories ON products.category_id = categories.category_id WHERE products.discontinued = 1 GROUP BY categories.category_id ORDER BY discontinued_count DESC;"}
{"question": "What is the total revenue for each employee in their top 3 territories?", "query": "WITH employee_territory_sales AS (SELECT employees.employee_id, employees.first_name, employees.last_name, territories.territory_id, territories.territory_description, SUM(order_details.unit_price * order_details.quantity * (1 - order_details.discount)) as total_sales, ROW_NUMBER() OVER (PARTITION BY employees.employee_id ORDER BY SUM(order_details.unit_price * order_details.quantity * (1 - order_details.discount)) DESC) as territory_rank FROM employees JOIN employee_territories ON employees.employee_id = employee_territories.employee_id JOIN territories ON employee_territories.territory_id = territories.territory_id JOIN orders ON employees.employee_id = orders.employee_id JOIN order_details ON orders.order_id = order_details.order_id GROUP BY employees.employee_id, territories.territory_id) SELECT employee_id, first_name, last_name, SUM(total_sales) as top_3_territory_sales FROM employee_territory_sales WHERE territory_rank <= 3 GROUP BY employee_id, first_name, last_name ORDER BY top_3_territory_sales DESC;"}
{"question": "Which customers have ordered the most diverse range of products?", "query": "SELECT customers.company_name, COUNT(DISTINCT order_details.product_id) as unique_products FROM customers JOIN orders ON customers.customer_id = orders.customer_id JOIN order_details ON orders.order_id = order_details.order_id GROUP BY customers.customer_id ORDER BY unique_products DESC LIMIT 10;"}
{"question": "What is the average order value for each customer demographic?", "query": "SELECT customer_demographics.customer_desc, AVG(order_details.unit_price * order_details.quantity * (1 - order_details.discount)) as avg_order_value FROM customer_demographics JOIN customer_customer_demo ON customer_demographics.customer_type_id = customer_customer_demo.customer_type_id JOIN customers ON customer_customer_demo.customer_id = customers.customer_id JOIN orders ON customers.customer_id = orders.customer_id JOIN order_details ON orders.order_id = order_details.order_id GROUP BY customer_demographics.customer_type_id ORDER BY avg_order_value DESC;"}
{"question": "Which products have the highest reorder frequency?", "query": "SELECT products.product_name, COUNT(*) as reorder_count FROM orders JOIN order_details ON orders.order_id = order_details.order_id JOIN products ON order_details.product_id = products.product_id WHERE orders.order_date > (SELECT MAX(order_date) FROM orders o2 WHERE o2.customer_id = orders.customer_id AND o2.order_date < orders.order_date) GROUP BY products.product_id ORDER BY reorder_count DESC LIMIT 10;"}
{"question": "What is the average shipping delay for each shipper?", "query": "SELECT shippers.company_name, AVG(orders.shipped_date - orders.required_date) as avg_delay FROM orders JOIN shippers ON orders.ship_via = shippers.shipper_id WHERE orders.shipped_date > orders.required_date GROUP BY shippers.shipper_id ORDER BY avg_delay DESC;"}
{"question": "Which employees have the highest sales growth year over year?", "query": "WITH yearly_sales AS (SELECT employees.employee_id, employees.first_name, employees.last_name, EXTRACT(YEAR FROM orders.order_date) as year, SUM(order_details.unit_price * order_details.quantity * (1 - order_details.discount)) as total_sales FROM employees JOIN orders ON employees.employee_id = orders.employee_id JOIN order_details ON orders.order_id = order_details.order_id GROUP BY employees.employee_id, EXTRACT(YEAR FROM orders.order_date)) SELECT ys1.employee_id, ys1.first_name, ys1.last_name, ys1.year, (

In [8]:
# 7. read jsonl_string into dataframe
import pandas as pd
import json

def parse_json_line(line):
    try:
        return json.loads(line)
    except json.JSONDecodeError:
        print(f"Error parsing line: {line}")
        return None

# Split the string into lines and parse each line
data = [parse_json_line(line) for line in response_text.strip().split('\n')]

# Remove any None values (failed parses)
data = [d for d in data if d is not None]

# Create a DataFrame from the list of dictionaries
df = pd.DataFrame(data)

df.to_parquet('question_query.parquet')

print(f"Number of successfully parsed questions: {len(df)}")
print(df.head(5))

Error parsing line: {"question": "Which employees have the highest sales growth year over year?", "query": "WITH yearly_sales AS (SELECT employees.employee_id, employees.first_name, employees.last_name, EXTRACT(YEAR FROM orders.order_date) as year, SUM(order_details.unit_price * order_details.quantity * (1 - order_details.discount)) as total_sales FROM employees JOIN orders ON employees.employee_id = orders.employee_id JOIN order_details ON orders.order_id = order_details.order_id GROUP BY employees.employee_id, EXTRACT(YEAR FROM orders.order_date)) SELECT ys1.employee_id, ys1.first_name, ys1.last_name, ys1.year, (
Number of successfully parsed questions: 44
                                            question  \
0              What are the names of all categories?
1      How many products are there in each category?
2      Who are the suppliers with the most products?
3  What is the average unit price of products by ...
4              Which employees have the most orders?

                                               query
0              SELECT category_name FROM categories;
1  SELECT category_name, COUNT(*) FROM products J...
2  SELECT suppliers.company_name, COUNT(*) as pro...
3  SELECT categories.category_name, AVG(products....
4  SELECT employees.first_name, employees.last_na...

In [9]:
# 8. Test generated SQL queries and verify they work
results = []

if SQL_DATABASE == 'LOCAL':
    # Create a SQLite database connection
    conn = sqlite3.connect('routedb.db')
    cursor = conn.cursor()

for row in df.itertuples():
    # print(row.query)
    error = None
    try:
        
        if SQL_DATABASE == 'LOCAL':
            # Use local SQL lite
            statement = row.query
            # Replace PostgreSQL-specific syntax with SQLite equivalents
            
            try:
                cursor.execute(statement)
                # Fetch all rows from the result
                result = cursor.fetchall()

            except sqlite3.Error as e:
                print(f"Error executing statement: {e}")
                error = e
                # print(f"Statement: {statement}")

        else:
            # Use Athena if AWS Glue Schema is used
            result = execute_athena_query(DATABASE, row.query)
        
    except ClientError as e:
        error = e

    results.append({'Question': row.question,'Query': row.query, 'Result': result, 'Error': error, 'Context': schema})

if SQL_DATABASE == 'LOCAL':
    # close the connection
    conn.close()

df_results = pd.DataFrame(results)

Error executing statement: near "FROM": syntax error
Error executing statement: near "FROM": syntax error
Error executing statement: near "FROM": syntax error
Error executing statement: near "FROM": syntax error

In [10]:
# 9. Use all generated prompts that resulted in valid SQL queries and filter out the rest

df_good_results = df_results[df_results['Error'].isnull() | (df_results['Error'] == None)]
print(f"Number of successful queries: {len(df_good_results)}")

df_bad_results = df_results[df_results['Error'].notnull() | (df_results['Error'] == 'None')]
print(f"Number of unsuccessful queries: {len(df_bad_results)}")

Number of successful queries: 40
Number of unsuccessful queries: 4

In [11]:
# 10. Use golden dataset to run test with smaller LLM

MODEL_ID = "mistral.mixtral-8x7b-instruct-v0:1" # "anthropic.claude-3-haiku-20240307-v1:0" # "mistral.mixtral-8x7b-instruct-v0:1" "anthropic.claude-3-5-sonnet-20240620-v1:0" "meta.llama3-1-70b-instruct-v1:0"

df1 = runBedrockBatchJob(MODEL_ID,df_good_results)

# Test generated SQL queries and verify they work
results = []

if SQL_DATABASE == 'LOCAL':
    # Create a SQLite database connection
    conn = sqlite3.connect('routedb.db')
    cursor = conn.cursor()

for row in df1.itertuples():
    statement = extract_with_regex(row.Generated_SQL_Query, SQL_PATTERN)
    # print(f'SQL statement: {statement}')
    error = None
    try:
        
        if SQL_DATABASE == 'LOCAL':
            # Use local SQL lite
            
            # Replace PostgreSQL-specific syntax with SQLite equivalents
            
            try:
                cursor.execute(statement)
                # Fetch all rows from the result
                result = cursor.fetchall()
                # print(result)

            except sqlite3.Error as e:
                print(f"Error executing statement: {e}")
                error = e
                # print(f"Statement: {statement}")

        else:
            # Use Athena if AWS Glue Schema is used
            result = execute_athena_query(DATABASE, row.Generated_SQL_Query)
        
    except ClientError as e:
        error = e

    results.append({'Question': row.Question,'Query': statement, 'Result': result, 'Error': error, 'Context': row.Context})

if SQL_DATABASE == 'LOCAL':
    # close the connection
    conn.close()

df1_results = pd.DataFrame(results)
print(df1_results.head(3))

Error executing statement: no such column: shipper_id
Error executing statement: no such function: DATEDIFF
Error executing statement: no such column: country
Error executing statement: ambiguous column name: unit_price
Error executing statement: no such column: od.order_date
Error executing statement: no such column: category_name
Error executing statement: no such column: customer_id
Error executing statement: ambiguous column name: customer_type_id
Error executing statement: no such function: DATEDIFF
                                        Question  \
0          What are the names of all categories?
1  How many products are there in each category?
2  Who are the suppliers with the most products?

                                               Query  \
0  SELECT category_name\n                FROM cat...
1  SELECT categories.category_name, COUNT(product...
2  SELECT supplier_id, COUNT(*) as product_count\...

                                              Result Error  \
0  [(Beverages,), (Condiments,), (Confections,), ...  None
1  [(Beverages, 12), (Condiments, 12), (Confectio...  None
2                                          [(12, 5)]  None

                                             Context
0  --\n    -- PostgreSQL database dump\n    --\n\...
1  --\n    -- PostgreSQL database dump\n    --\n\...
2  --\n    -- PostgreSQL database dump\n    --\n\...

/tmp/ipykernel_14174/3000080369.py:585: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Generated_SQL_Query'] = generated_sql_queries

In [12]:
# 11. Use all generated prompts that resulted in valid SQL queries and filter out the rest

df1_good_results = df1_results[df1_results['Error'].isnull() | (df1_results['Error'] == None)]
print(f"Number of successful queries: {len(df1_good_results)}")

df1_bad_results = df1_results[df1_results['Error'].notnull() | (df1_results['Error'] == 'None')]
print(f"Number of unsuccessful queries: {len(df1_bad_results)}")

df1_good_clean_results = df1_good_results
df1_good_clean_results['Result'] = df1_good_results['Result'].astype(str)
df1_good_clean_results.to_parquet('df1_good_results.parquet')
#   df1_good_results = pd.read_parquet('df1_good_results.parquet')

Number of successful queries: 31
Number of unsuccessful queries: 9

In [13]:
# 12. Use golden dataset to run test with larger LLM

MODEL_ID = "anthropic.claude-3-sonnet-20240229-v1:0" # "anthropic.claude-3-haiku-20240307-v1:0" # "mistral.mixtral-8x7b-instruct-v0:1" "anthropic.claude-3-5-sonnet-20240620-v1:0" "meta.llama3-1-70b-instruct-v1:0"

df2 = runBedrockBatchJob(MODEL_ID, df_good_results)


# Test generated SQL queries and verify they work
results = []

if SQL_DATABASE == 'LOCAL':
    # Create a SQLite database connection
    conn = sqlite3.connect('routedb.db')
    cursor = conn.cursor()

for row in df2.itertuples():
    statement = extract_with_regex(row.Generated_SQL_Query, SQL_PATTERN)
    # print(f'SQL statement: {statement}')
    error = None
    try:
        
        if SQL_DATABASE == 'LOCAL':
            # Use local SQL lite
            
            # Replace PostgreSQL-specific syntax with SQLite equivalents
            
            try:
                cursor.execute(statement)
                # Fetch all rows from the result
                result = cursor.fetchall()
                # print(result)

            except sqlite3.Error as e:
                print(f"Error executing statement: {e}")
                error = e
                # print(f"Statement: {statement}")

        else:
            # Use Athena if AWS Glue Schema is used
            result = execute_athena_query(DATABASE, row.Generated_SQL_Query)
        
    except ClientError as e:
        error = e

    results.append({'Question': row.Question,'Query': statement, 'Result': result, 'Error': error, 'Context': row.Context})

if SQL_DATABASE == 'LOCAL':
    # close the connection
    conn.close()

df2_results = pd.DataFrame(results)
print(df2_results.head(3))

Error executing statement: no such column: country
Error executing statement: no such column: day
Error executing statement: no such column: employee_id
Error executing statement: no such column: day
                                        Question  \
0          What are the names of all categories?
1  How many products are there in each category?
2  Who are the suppliers with the most products?

                                               Query  \
0             SELECT category_name\nFROM categories;
1  SELECT c.category_name, COUNT(p.product_id) AS...
2  SELECT s.company_name, COUNT(p.product_id) AS ...

                                              Result Error  \
0  [(Beverages,), (Condiments,), (Confections,), ...  None
1  [(Beverages, 12), (Condiments, 12), (Confectio...  None
2  [(Specialty Biscuits, Ltd., 5), (Plutzer Leben...  None

                                             Context
0  --\n    -- PostgreSQL database dump\n    --\n\...
1  --\n    -- PostgreSQL database dump\n    --\n\...
2  --\n    -- PostgreSQL database dump\n    --\n\...

/tmp/ipykernel_14174/3000080369.py:585: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Generated_SQL_Query'] = generated_sql_queries

In [24]:
# 13. Use all generated prompts that resulted in valid SQL queries and filter out the rest

df2_good_results = df2_results[df2_results['Error'].isnull() | (df2_results['Error'] == None)]
print(f"Number of successful queries: {len(df2_good_results)}")

df2_bad_results = df2_results[df2_results['Error'].notnull() | (df2_results['Error'] == 'None')]
print(f"Number of unsuccessful queries: {len(df2_bad_results)}")

df2_good_clean_results = df2_good_results
df2_good_clean_results['Result'] = df2_good_results['Result'].astype(str)
df2_good_clean_results.to_parquet('df2_good_results.parquet')
#   df1_good_results = pd.read_parquet('df1_good_results.parquet')

Number of successful queries: 36
Number of unsuccessful queries: 4

/tmp/ipykernel_14174/2501190039.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2_good_clean_results['Result'] = df2_good_results['Result'].astype(str)

In [27]:
# 12a. Use LLM as a Judge to grade generated SQL from smaller LLM 
MODEL_ID = "anthropic.claude-3-sonnet-20240229-v1:0" # "mistral.mixtral-8x7b-instruct-v0:1" "anthropic.claude-3-5-sonnet-20240620-v1:0" "meta.llama3-1-70b-instruct-v1:0"

# use helper class for threaded API calls, reduce max_tokens to avoid throttling with Sonet 3.5
wrapper = BedrockLLMWrapper(debug=False, model_id=MODEL_ID, max_token_count= 512)

prompts_list = []
for row in df1.itertuples():
    
    prompt = build_grader_prompt(build_sqlquerygen_prompt(row.Question, row.Context), row.Generated_SQL_Query)
    prompts_list.append(prompt)
# [result_text,usage,query_time]
results = wrapper.generate_threaded(prompts_list)

formatted_results = []
for i,g in enumerate(results):
    reasoning = extract_with_regex(results[i][0], REASONING_PATTERN)
    score =  extract_with_regex(results[i][0], SCORE_PATTERN)
    correctness =  extract_with_regex(results[i][0], CORRECTNESS_PATTERN)
    formatted_results.append({ "reasoning": reasoning, "score": score , "correctness": correctness})

evaluated_df = pd.DataFrame(formatted_results) 

# merge df1 dataframe with columns from evaluated_df
df1 = pd.concat([df1, evaluated_df], axis=1)

print(df1.head(1).to_string())

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             reasoning score correctness
0  The generated SQL query:\n\n<SQL>\nSELECT category_name\nFROM categories;\n</SQL>\n\nThis query is syntactically correct and will retrieve all the category names from the "categories" table. It directly answers the original user question "What are the names of all categories?".\n\nThe query is simple, efficient, and does not produce any errors. It selects only the relevant "category_name" column from the "categories" table, without retrieving any unnecessary data.\n\nBased on the provided rubric, this SQL query meets all the criteria for a perfect score:\n\n- It matches the reference SQL query (if one was provided, which is not mentioned).\n- It is valid and produces the expected result without errors.\n- It is performant by selecting only the necessary column.     5     correct

In [28]:
# 12b. Use LLM as a Judge to grade generated SQL from bigger LLM
MODEL_ID = "anthropic.claude-3-sonnet-20240229-v1:0" 

# use helper class for threaded API calls, reduce max_tokens to avoid throttling with Sonet 3.5
wrapper = BedrockLLMWrapper(debug=False, model_id=MODEL_ID, max_token_count= 512)

prompts_list = []
for row in df2.itertuples():
    prompt = build_grader_prompt(build_sqlquerygen_prompt(row.Question, row.Context), row.Generated_SQL_Query)
    prompts_list.append(prompt)
# [result_text,usage,query_time]
results = wrapper.generate_threaded(prompts_list)

formatted_results = []
for i,g in enumerate(results):
    reasoning = extract_with_regex(results[i][0], REASONING_PATTERN)
    score =  extract_with_regex(results[i][0], SCORE_PATTERN)
    correctness =  extract_with_regex(results[i][0], CORRECTNESS_PATTERN)
    formatted_results.append({ "reasoning": reasoning, "score": score , "correctness": correctness})

evaluated_df2 = pd.DataFrame(formatted_results) 

# merge df1 dataframe with columns from evaluated_df
df2 = pd.concat([df2, evaluated_df2], axis=1)

In [34]:
# 12c. Review results: Pecentage correct

print(df1.head().to_dict())

# TBD: UserWarning: DataFrame columns are not unique, some columns will be omitted.

# percentage_correct = df1['correctness'].value_counts(normalize=True)['correct'] * 100
# print(f"Percentage correct for smaller LLM: {percentage_correct:.2f}%")

# percentage_correct = df2['correctness'].value_counts(normalize=True)['correct'] * 100
# print(f"Percentage correct for larger LLM: {percentage_correct:.2f}%")

{'Question': {0: 'What are the names of all categories?', 1: 'How many products are there in each category?', 2: 'Who are the suppliers with the most products?', 3: 'What is the average unit price of products by category?', 4: 'Which employees have the most orders?'}, 'Query': {0: 'SELECT category_name FROM categories;', 1: 'SELECT category_name, COUNT(*) FROM products JOIN categories ON products.category_id = categories.category_id GROUP BY category_name;', 2: 'SELECT suppliers.company_name, COUNT(*) as product_count FROM products JOIN suppliers ON products.supplier_id = suppliers.supplier_id GROUP BY suppliers.company_name ORDER BY product_count DESC LIMIT 5;', 3: 'SELECT categories.category_name, AVG(products.unit_price) as avg_price FROM products JOIN categories ON products.category_id = categories.category_id GROUP BY categories.category_name;', 4: 'SELECT employees.first_name, employees.last_name, COUNT(*) as order_count FROM orders JOIN employees ON orders.employee_id = employees.employee_id GROUP BY employees.employee_id ORDER BY order_count DESC LIMIT 5;'}, 'Result': {0: [('Beverages',), ('Condiments',), ('Confections',), ('Dairy Products',), ('Grains/Cereals',), ('Meat/Poultry',), ('Produce',), ('Seafood',)], 1: [('Beverages', 12), ('Condiments', 12), ('Confections', 13), ('Dairy Products', 10), ('Grains/Cereals', 7), ('Meat/Poultry', 6), ('Produce', 5), ('Seafood', 12)], 2: [('Specialty Biscuits, Ltd.', 5), ('Plutzer Lebensmittelgroßmärkte AG', 5), ('Pavlova, Ltd.', 5), ('New Orleans Cajun Delights', 4), ('Tokyo Traders', 3)], 3: [('Beverages', 37.979166666666664), ('Condiments', 22.854166666666668), ('Confections', 25.16), ('Dairy Products', 28.73), ('Grains/Cereals', 20.25), ('Meat/Poultry', 54.00666666666667), ('Produce', 32.37), ('Seafood', 20.6825)], 4: [('Margaret', 'Peacock', 156), ('Janet', 'Leverling', 127), ('Nancy', 'Davolio', 123), ('Laura', 'Callahan', 104), ('Andrew', 'Fuller', 96)]}, 'Error': {0: None, 1: None, 2: None, 3: None, 4: None}, 'Context': {0: "--\n    -- PostgreSQL database dump\n    --\n\n    SET statement_timeout = 0;\n    SET lock_timeout = 0;\n    SET client_encoding = 'UTF8';\n    SET standard_conforming_strings = on;\n    SET check_function_bodies = false;\n    SET client_min_messages = warning;\n\n\n\n    SET default_tablespace = '';\n\n    SET default_with_oids = false;\n\n\n    ---\n    --- drop tables\n    ---\n\n\n    DROP TABLE IF EXISTS customer_customer_demo;\n    DROP TABLE IF EXISTS customer_demographics;\n    DROP TABLE IF EXISTS employee_territories;\n    DROP TABLE IF EXISTS order_details;\n    DROP TABLE IF EXISTS orders;\n    DROP TABLE IF EXISTS customers;\n    DROP TABLE IF EXISTS products;\n    DROP TABLE IF EXISTS shippers;\n    DROP TABLE IF EXISTS suppliers;\n    DROP TABLE IF EXISTS territories;\n    DROP TABLE IF EXISTS us_states;\n    DROP TABLE IF EXISTS categories;\n    DROP TABLE IF EXISTS region;\n    DROP TABLE IF EXISTS employees;\n\n    --\n    -- Name: categories; Type: TABLE; Schema: public; Owner: -; Tablespace: \n    --\n\n    CREATE TABLE categories (\n        category_id smallint NOT NULL PRIMARY KEY,\n        category_name character varying(15) NOT NULL,\n        description text,\n        picture bytea\n    );\n\n\n    --\n    -- Name: customer_demographics; Type: TABLE; Schema: public; Owner: -; Tablespace: \n    --\n\n    CREATE TABLE customer_demographics (\n        customer_type_id bpchar NOT NULL PRIMARY KEY,\n        customer_desc text\n    );\n\n\n    --\n    -- Name: customers; Type: TABLE; Schema: public; Owner: -; Tablespace: \n    --\n\n    CREATE TABLE customers (\n        customer_id bpchar NOT NULL PRIMARY KEY,\n        company_name character varying(40) NOT NULL,\n        contact_name character varying(30),\n        contact_title character varying(30),\n        address character varying(60),\n        city character varying(15),\n        region character varying(15),\n        postal_code character varying(10),\n        country character varying(15),\n        phone character varying(24),\n        fax character varying(24)\n    );\n\n    --\n    -- Name: customer_customer_demo; Type: TABLE; Schema: public; Owner: -; Tablespace: \n    --\n\n    CREATE TABLE customer_customer_demo (\n        customer_id bpchar NOT NULL,\n        customer_type_id bpchar NOT NULL,\n        PRIMARY KEY (customer_id, customer_type_id),\n        FOREIGN KEY (customer_type_id) REFERENCES customer_demographics,\n        FOREIGN KEY (customer_id) REFERENCES customers\n    );\n\n    --\n    -- Name: employees; Type: TABLE; Schema: public; Owner: -; Tablespace: \n    --\n\n    CREATE TABLE employees (\n        employee_id smallint NOT NULL PRIMARY KEY,\n        last_name character varying(20) NOT NULL,\n        first_name character varying(10) NOT NULL,\n        title character varying(30),\n        title_of_courtesy character varying(25),\n        birth_date date,\n        hire_date date,\n        address character varying(60),\n        city character varying(15),\n        region character varying(15),\n        postal_code character varying(10),\n        country character varying(15),\n        home_phone character varying(24),\n        extension character varying(4),\n        photo bytea,\n        notes text,\n        reports_to smallint,\n        photo_path character varying(255),\n        FOREIGN KEY (reports_to) REFERENCES employees\n    );\n\n\n    --\n    -- Name: suppliers; Type: TABLE; Schema: public; Owner: -; Tablespace: \n    --\n\n    CREATE TABLE suppliers (\n        supplier_id smallint NOT NULL PRIMARY KEY,\n        company_name character varying(40) NOT NULL,\n        contact_name character varying(30),\n        contact_title character varying(30),\n        address character varying(60),\n        city character varying(15),\n        region character varying(15),\n        postal_code character varying(10),\n        country character varying(15),\n        phone character varying(24),\n        fax character varying(24),\n        homepage text\n    );\n\n\n    --\n    -- Name: products; Type: TABLE; Schema: public; Owner: -; Tablespace: \n    --\n\n    CREATE TABLE products (\n        product_id smallint NOT NULL PRIMARY KEY,\n        product_name character varying(40) NOT NULL,\n        supplier_id smallint,\n        category_id smallint,\n        quantity_per_unit character varying(20),\n        unit_price real,\n        units_in_stock smallint,\n        units_on_order smallint,\n        reorder_level smallint,\n        discontinued integer NOT NULL,\n        FOREIGN KEY (category_id) REFERENCES categories,\n        FOREIGN KEY (supplier_id) REFERENCES suppliers\n    );\n\n\n    --\n    -- Name: region; Type: TABLE; Schema: public; Owner: -; Tablespace: \n    --\n\n    CREATE TABLE region (\n        region_id smallint NOT NULL PRIMARY KEY,\n        region_description bpchar NOT NULL\n    );\n\n\n    --\n    -- Name: shippers; Type: TABLE; Schema: public; Owner: -; Tablespace: \n    --\n\n    CREATE TABLE shippers (\n        shipper_id smallint NOT NULL PRIMARY KEY,\n        company_name character varying(40) NOT NULL,\n        phone character varying(24)\n    );\n\n\n    --\n    -- Name: orders; Type: TABLE; Schema: public; Owner: -; Tablespace: \n    --\n\n    CREATE TABLE orders (\n        order_id smallint NOT NULL PRIMARY KEY,\n        customer_id bpchar,\n        employee_id smallint,\n        order_date date,\n        required_date date,\n        shipped_date date,\n        ship_via smallint,\n        freight real,\n        ship_name character varying(40),\n        ship_address character varying(60),\n        ship_city character varying(15),\n        ship_region character varying(15),\n        ship_postal_code character varying(10),\n        ship_country character varying(15),\n        FOREIGN KEY (customer_id) REFERENCES customers,\n        FOREIGN KEY (employee_id) REFERENCES employees,\n        FOREIGN KEY (ship_via) REFERENCES shippers\n    );\n\n\n    --\n    -- Name: territories; Type: TABLE; Schema: public; Owner: -; Tablespace: \n    --\n\n    CREATE TABLE territories (\n        territory_id character varying(20) NOT NULL PRIMARY KEY,\n        territory_description bpchar NOT NULL,\n        region_id smallint NOT NULL,\n        FOREIGN KEY (region_id) REFERENCES region\n    );\n\n\n    --\n    -- Name: employee_territories; Type: TABLE; Schema: public; Owner: -; Tablespace: \n    --\n\n    CREATE TABLE employee_territories (\n        employee_id smallint NOT NULL,\n        territory_id character varying(20) NOT NULL,\n        PRIMARY KEY (employee_id, territory_id),\n        FOREIGN KEY (territory_id) REFERENCES territories,\n        FOREIGN KEY (employee_id) REFERENCES employees\n    );\n\n\n    --\n    -- Name: order_details; Type: TABLE; Schema: public; Owner: -; Tablespace: \n    --\n\n    CREATE TABLE order_details (\n        order_id smallint NOT NULL,\n        product_id smallint NOT NULL,\n        unit_price real NOT NULL,\n        quantity smallint NOT NULL,\n        discount real NOT NULL,\n        PRIMARY KEY (order_id, product_id),\n        FOREIGN KEY (product_id) REFERENCES products,\n        FOREIGN KEY (order_id) REFERENCES orders\n    );\n\n\n    --\n    -- Name: us_states; Type: TABLE; Schema: public; Owner: -; Tablespace: \n    --\n\n    CREATE TABLE us_states (\n        state_id smallint NOT NULL PRIMARY KEY,\n        state_name character varying(100),\n        state_abbr character varying(2),\n        state_region character varying(50)\n    );", 1: "--\n    -- PostgreSQL database dump\n    --\n\n    SET statement_timeout = 0;\n    SET lock_timeout = 0;\n    SET client_encoding = 'UTF8';\n    SET standard_conforming_strings = on;\n    SET check_function_bodies = false;\n    SET client_min_messages = warning;\n\n\n\n    SET default_tablespace = '';\n\n    SET default_with_oids = false;\n\n\n    ---\n    --- drop tables\n    ---\n\n\n    DROP TABLE IF EXISTS customer_customer_demo;\n    DROP TABLE IF EXISTS customer_demographics;\n    DROP TABLE IF EXISTS employee_territories;\n    DROP TABLE IF EXISTS order_details;\n    DROP TABLE IF EXISTS orders;\n    DROP TABLE IF EXISTS customers;\n    DROP TABLE IF EXISTS products;\n    DROP TABLE IF EXISTS shippers;\n    DROP TABLE IF EXISTS suppliers;\n    DROP TABLE IF EXISTS territories;\n    DROP TABLE IF EXISTS us_states;\n    DROP TABLE IF EXISTS categories;\n    DROP TABLE IF EXISTS region;\n    DROP TABLE IF EXISTS employees;\n\n    --\n    -- Name: categories; Type: TABLE; Schema: public; Owner: -; Tablespace: \n    --\n\n    CREATE TABLE categories (\n        category_id smallint NOT NULL PRIMARY KEY,\n        category_name character varying(15) NOT NULL,\n        description text,\n        picture bytea\n    );\n\n\n    --\n    -- Name: customer_demographics; Type: TABLE; Schema: public; Owner: -; Tablespace: \n    --\n\n    CREATE TABLE customer_demographics (\n        customer_type_id bpchar NOT NULL PRIMARY KEY,\n        customer_desc text\n    );\n\n\n    --\n    -- Name: customers; Type: TABLE; Schema: public; Owner: -; Tablespace: \n    --\n\n    CREATE TABLE customers (\n        customer_id bpchar NOT NULL PRIMARY KEY,\n        company_name character varying(40) NOT NULL,\n        contact_name character varying(30),\n        contact_title character varying(30),\n        address character varying(60),\n        city character varying(15),\n        region character varying(15),\n        postal_code character varying(10),\n        country character varying(15),\n        phone character varying(24),\n        fax character varying(24)\n    );\n\n    --\n    -- Name: customer_customer_demo; Type: TABLE; Schema: public; Owner: -; Tablespace: \n    --\n\n    CREATE TABLE customer_customer_demo (\n        customer_id bpchar NOT NULL,\n        customer_type_id bpchar NOT NULL,\n        PRIMARY KEY (customer_id, customer_type_id),\n        FOREIGN KEY (customer_type_id) REFERENCES customer_demographics,\n        FOREIGN KEY (customer_id) REFERENCES customers\n    );\n\n    --\n    -- Name: employees; Type: TABLE; Schema: public; Owner: -; Tablespace: \n    --\n\n    CREATE TABLE employees (\n        employee_id smallint NOT NULL PRIMARY KEY,\n        last_name character varying(20) NOT NULL,\n        first_name character varying(10) NOT NULL,\n        title character varying(30),\n        title_of_courtesy character varying(25),\n        birth_date date,\n        hire_date date,\n        address character varying(60),\n        city character varying(15),\n        region character varying(15),\n        postal_code character varying(10),\n        country character varying(15),\n        home_phone character varying(24),\n        extension character varying(4),\n        photo bytea,\n        notes text,\n        reports_to smallint,\n        photo_path character varying(255),\n        FOREIGN KEY (reports_to) REFERENCES employees\n    );\n\n\n    --\n    -- Name: suppliers; Type: TABLE; Schema: public; Owner: -; Tablespace: \n    --\n\n    CREATE TABLE suppliers (\n        supplier_id smallint NOT NULL PRIMARY KEY,\n        company_name character varying(40) NOT NULL,\n        contact_name character varying(30),\n        contact_title character varying(30),\n        address character varying(60),\n        city character varying(15),\n        region character varying(15),\n        postal_code character varying(10),\n        country character varying(15),\n        phone character varying(24),\n        fax character varying(24),\n        homepage text\n    );\n\n\n    --\n    -- Name: products; Type: TABLE; Schema: public; Owner: -; Tablespace: \n    --\n\n    CREATE TABLE products (\n        product_id smallint NOT NULL PRIMARY KEY,\n        product_name character varying(40) NOT NULL,\n        supplier_id smallint,\n        category_id smallint,\n        quantity_per_unit character varying(20),\n        unit_price real,\n        units_in_stock smallint,\n        units_on_order smallint,\n        reorder_level smallint,\n        discontinued integer NOT NULL,\n        FOREIGN KEY (category_id) REFERENCES categories,\n        FOREIGN KEY (supplier_id) REFERENCES suppliers\n    );\n\n\n    --\n    -- Name: region; Type: TABLE; Schema: public; Owner: -; Tablespace: \n    --\n\n    CREATE TABLE region (\n        region_id smallint NOT NULL PRIMARY KEY,\n        region_description bpchar NOT NULL\n    );\n\n\n    --\n    -- Name: shippers; Type: TABLE; Schema: public; Owner: -; Tablespace: \n    --\n\n    CREATE TABLE shippers (\n        shipper_id smallint NOT NULL PRIMARY KEY,\n        company_name character varying(40) NOT NULL,\n        phone character varying(24)\n    );\n\n\n    --\n    -- Name: orders; Type: TABLE; Schema: public; Owner: -; Tablespace: \n    --\n\n    CREATE TABLE orders (\n        order_id smallint NOT NULL PRIMARY KEY,\n        customer_id bpchar,\n        employee_id smallint,\n        order_date date,\n        required_date date,\n        shipped_date date,\n        ship_via smallint,\n        freight real,\n        ship_name character varying(40),\n        ship_address character varying(60),\n        ship_city character varying(15),\n        ship_region character varying(15),\n        ship_postal_code character varying(10),\n        ship_country character varying(15),\n        FOREIGN KEY (customer_id) REFERENCES customers,\n        FOREIGN KEY (employee_id) REFERENCES employees,\n        FOREIGN KEY (ship_via) REFERENCES shippers\n    );\n\n\n    --\n    -- Name: territories; Type: TABLE; Schema: public; Owner: -; Tablespace: \n    --\n\n    CREATE TABLE territories (\n        territory_id character varying(20) NOT NULL PRIMARY KEY,\n        territory_description bpchar NOT NULL,\n        region_id smallint NOT NULL,\n        FOREIGN KEY (region_id) REFERENCES region\n    );\n\n\n    --\n    -- Name: employee_territories; Type: TABLE; Schema: public; Owner: -; Tablespace: \n    --\n\n    CREATE TABLE employee_territories (\n        employee_id smallint NOT NULL,\n        territory_id character varying(20) NOT NULL,\n        PRIMARY KEY (employee_id, territory_id),\n        FOREIGN KEY (territory_id) REFERENCES territories,\n        FOREIGN KEY (employee_id) REFERENCES employees\n    );\n\n\n    --\n    -- Name: order_details; Type: TABLE; Schema: public; Owner: -; Tablespace: \n    --\n\n    CREATE TABLE order_details (\n        order_id smallint NOT NULL,\n        product_id smallint NOT NULL,\n        unit_price real NOT NULL,\n        quantity smallint NOT NULL,\n        discount real NOT NULL,\n        PRIMARY KEY (order_id, product_id),\n        FOREIGN KEY (product_id) REFERENCES products,\n        FOREIGN KEY (order_id) REFERENCES orders\n    );\n\n\n    --\n    -- Name: us_states; Type: TABLE; Schema: public; Owner: -; Tablespace: \n    --\n\n    CREATE TABLE us_states (\n        state_id smallint NOT NULL PRIMARY KEY,\n        state_name character varying(100),\n        state_abbr character varying(2),\n        state_region character varying(50)\n    );", 2: "--\n    -- PostgreSQL database dump\n    --\n\n    SET statement_timeout = 0;\n    SET lock_timeout = 0;\n    SET client_encoding = 'UTF8';\n    SET standard_conforming_strings = on;\n    SET check_function_bodies = false;\n    SET client_min_messages = warning;\n\n\n\n    SET default_tablespace = '';\n\n    SET default_with_oids = false;\n\n\n    ---\n    --- drop tables\n    ---\n\n\n    DROP TABLE IF EXISTS customer_customer_demo;\n    DROP TABLE IF EXISTS customer_demographics;\n    DROP TABLE IF EXISTS employee_territories;\n    DROP TABLE IF EXISTS order_details;\n    DROP TABLE IF EXISTS orders;\n    DROP TABLE IF EXISTS customers;\n    DROP TABLE IF EXISTS products;\n    DROP TABLE IF EXISTS shippers;\n    DROP TABLE IF EXISTS suppliers;\n    DROP TABLE IF EXISTS territories;\n    DROP TABLE IF EXISTS us_states;\n    DROP TABLE IF EXISTS categories;\n    DROP TABLE IF EXISTS region;\n    DROP TABLE IF EXISTS employees;\n\n    --\n    -- Name: categories; Type: TABLE; Schema: public; Owner: -; Tablespace: \n    --\n\n    CREATE TABLE categories (\n        category_id smallint NOT NULL PRIMARY KEY,\n        category_name character varying(15) NOT NULL,\n        description text,\n        picture bytea\n    );\n\n\n    --\n    -- Name: customer_demographics; Type: TABLE; Schema: public; Owner: -; Tablespace: \n    --\n\n    CREATE TABLE customer_demographics (\n        customer_type_id bpchar NOT NULL PRIMARY KEY,\n        customer_desc text\n    );\n\n\n    --\n    -- Name: customers; Type: TABLE; Schema: public; Owner: -; Tablespace: \n    --\n\n    CREATE TABLE customers (\n        customer_id bpchar NOT NULL PRIMARY KEY,\n        company_name character varying(40) NOT NULL,\n        contact_name character varying(30),\n        contact_title character varying(30),\n        address character varying(60),\n        city character varying(15),\n        region character varying(15),\n        postal_code character varying(10),\n        country character varying(15),\n        phone character varying(24),\n        fax character varying(24)\n    );\n\n    --\n    -- Name: customer_customer_demo; Type: TABLE; Schema: public; Owner: -; Tablespace: \n    --\n\n    CREATE TABLE customer_customer_demo (\n        customer_id bpchar NOT NULL,\n        customer_type_id bpchar NOT NULL,\n        PRIMARY KEY (customer_id, customer_type_id),\n        FOREIGN KEY (customer_type_id) REFERENCES customer_demographics,\n        FOREIGN KEY (customer_id) REFERENCES customers\n    );\n\n    --\n    -- Name: employees; Type: TABLE; Schema: public; Owner: -; Tablespace: \n    --\n\n    CREATE TABLE employees (\n        employee_id smallint NOT NULL PRIMARY KEY,\n        last_name character varying(20) NOT NULL,\n        first_name character varying(10) NOT NULL,\n        title character varying(30),\n        title_of_courtesy character varying(25),\n        birth_date date,\n        hire_date da

/tmp/ipykernel_14174/237912686.py:3: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  print(df1.head().to_dict())

In [ ]:
# Calculate Text-to-SQL metrics:
# 1) Execution Accuracy (EX):  compares the generated SQL query to the labeled SQL query to determine if its a match or not. 
# 2) Exact Set Match Accuracy (EM) – did the returned result set actually answer the question, regardless of how the query was written
# 3) Valid Efficiency Score (VES)

In [ ]:
#12d. Review results: Sample a subsection of 3 incorrect responses
from IPython.display import display, HTML

# Assuming you have a dataframe called 'df' with a column called 'result'
incorrect_rows = df1[df1['correctness'] == 'incorrect'].sample(n=3)

from IPython.display import display, HTML

# Convert the dataframe to an HTML table
table_html = incorrect_rows.to_html(index=False, classes='table table-striped')

# Display the HTML table
display(HTML(table_html))

In [ ]:
#12e. Review results: Sample a subsection of 3 correct responses
from IPython.display import display, HTML

# Assuming you have a dataframe called 'df' with a column called 'result'
incorrect_rows = df1[df1['correctness'] == 'correct'].sample(n=3)

from IPython.display import display, HTML

# Convert the dataframe to an HTML table
table_html = incorrect_rows.to_html(index=False, classes='table table-striped')

# Display the HTML table
display(HTML(table_html))

### Train Classifier

In [ ]:
# Let us assume that if the score is >= 4, we will route to the small LLM model (indicating the response quality is good enough); 
# otherwise, we will route to the large LLM model. Under this assumption, the data distribution looks like this

train_df["routing_label"] = train_df["mixtral_score"].apply(
    lambda x: 1 if x >= 4 else 0
)

visualize_label_distribution(train_df, key="routing_label")

# For classification tasks, it's recommended to train on label-balanced datasets to ensure models are not biased to a specific label. 
# We will balance the dataset based on routing_label, as this is the label of primary interest.
from src.utils import balance_dataset

balanced_train_df = balance_dataset(train_df, key="routing_label")

print(f"Train size: {len(balanced_train_df)}")

In [ ]:
n_sample = 20
output_file = "/mnt/user_storage/train_data_sample.jsonl"

subsampled_df = balanced_train_df.sample(n=n_sample, random_state=42)
subsampled_df.to_json(output_file, orient="records", lines=True)

### FINE-TUNING JOB

In [ ]:
# TBD: create fine-tuning job

In [ ]:
# TBD: test scoring/routing prediction

### EVALUATION

In [ ]:
# TBD: evaluate routing from accuracy,latency, and cost perspective

### Conclusion
In this tutorial, we have successfully built and evaluated a finetuned-LLM router. 
We generated synthetic labeled data using the LLM-as-a-judge method to train the model, finetuned an LLM classifier using Amazon Bedrock's API, 
and conducted offline evaluation.

### Sources

https://github.com/lm-sys/RouteLLM

https://medium.com/@learngrowthrive.fast/routellm-achieves-90-gpt-4-quality-at-80-lower-cost-6686e5f46e2a

https://medium.com/ai-insights-cobet/beyond-basic-chatbots-how-semantic-router-is-changing-the-game-783dd959a32d

https://medium.com/@bhawana.prs/semantic-routes-in-llms-to-make-chatbots-more-accurate-d99c17e30487


popular benchmarks: MT Bench, MMLU, and GSM8K.

* Semantic routing: Using a vector analysis to route the query to the closest “cluster”
https://github.com/aurelio-labs/semantic-router

* Prompt Chaining: Similar to what has been implemented inside Bedrock agents, and LangChain’s Custom function, these use an small LLM to analyze the question and route it to the next part of the chain. https://aws.amazon.com/blogs/machine-learning/enhance-conversational-ai-with-advanced-routing-techniques-with-amazon-bedrock/
You can optimize this by having the “router” model answer directly simple questions instead of routing them to another model.

* Intent Classification: Creating a custom model, similar to ROHF or Rerankers to classify the query and route it to the right LLM.  
https://medium.com/aimonks/intent-classification-generative-ai-based-application-architecture-3-79d2927537b4

https://www.anyscale.com/blog/building-an-llm-router-for-high-quality-and-cost-effective-responses

https://github.com/aws-samples/amazon-bedrock-samples/blob/main/function-calling/function_calling_text2SQL_converse_bedrock_streamlit.py

https://github.com/aws-samples/amazon-bedrock-samples/tree/main/rag-solutions/sql-query-generator

### SCRATCHPAD

In [ ]:
# Use the native inference API to send a text message to Anthropic Claude.

import boto3
import json

from botocore.exceptions import ClientError

# Create a Bedrock Runtime client in the AWS Region of your choice.
client = boto3.client("bedrock-runtime", region_name="us-east-1")

# Set the model ID, e.g., Claude 3 Haiku.
model_id = "anthropic.claude-3-5-sonnet-20240620-v1:0"

# Define the prompt for the model.
prompt = "Describe the purpose of a 'hello world' program in one line."

# Format the request payload using the model's native structure.
native_request = {
    "anthropic_version": "bedrock-2023-05-31",
    "max_tokens": 512,
    "temperature": 0.5,
    "messages": [
        {
            "role": "user",
            "content": [{"type": "text", "text": prompt}],
        }
    ],
}

# Convert the native request to JSON.
request = json.dumps(native_request)

try:
    # Invoke the model with the request.
    response = client.invoke_model(modelId=model_id, body=request)

except (ClientError, Exception) as e:
    print(f"ERROR: Can't invoke '{model_id}'. Reason: {e}")
    exit(1)

# Decode the response body.
model_response = json.loads(response["body"].read())

# Extract and print the response text.
response_text = model_response["content"][0]["text"]
print(response_text)